header
  .logo
    a(href=routes.HOME)
      img(src="/images/logo.jpg")
  .title
    span Current User: <b>#{user && user.email}</b>
    h1= title
  .menu
    ul
      if !user
        li
          a(href=routes.SIGNUP) Sign Up
        li
          a(href=routes.LOGIN) Log In
      else
        li
          a(href=routes.VOTINGS_NEW) Create Voting
        li
          a(href=routes.MY_VOTINGS) My Votings
        li
          a(href=routes.LOGOUT) Log Out
