nav
  .logo
    a(href=routes.HOME)
      img(src="/images/logo.png")
  .current-user
    if user
      span Current User
      .displayName= user && user.displayName
  .menu
    ul
      li
        a(href=routes.HOME) Main
      if !user
        li
          a(href=routes.SIGNUP) Sign Up
        li
          a(href=routes.LOGIN) Log In
      else
        li
          a(href=routes.VOTINGS_NEW) Create Voting
        li
          a(href=routes.MY_VOTINGS) My Votings
        li
          a(href=routes.LOGOUT) Log Out
