div(class='voting-close' id=`${voteItem.voteId}`)
  .vote-number
    p= `No. ${voteItem.voteId}`
  .vote-title
    p= voteItem.voteTitle
  .vote-descrption
    p= voteItem.voteDescription
  .vote-choice-container
    each val, index in voteItem.voteChoice
      .vote-choice
        input(type='radio' id=`choice-${index}` name='choice' value=val)
        label(for=`choice-${val}`)=val
  p.vote-button 투표하기
