div(class='voting-item-container' id=`${voteItem._id}`)
  .vote-number
    p= `No. ${voteItem._id}`
  .vote-title
    p= voteItem.title
  .vote-descrption
    p= voteItem.description
  .vote-choice-container
    each val, index in voteItem.choiceList
      .vote-choice
        input(type='radio' id=`choice-${index}` name='choice' value=val)
        label(for=`choice-${val}`)=val
  p.vote-button 투표하기
