
div(class='voting-item-container' id=`${voteItem.voteId}`)
  .vote-number
    p= `No. ${voteItem.voteId}`
  .vote-title
    p= voteItem.voteTitle
  .vote-descrption
    p= voteItem.voteDescription
  .vote-choice-container
    each val, index in voteItem.voteChoice
      .vote-choice
        p= `- ${val}`
        p(class='choice-result' id='')= `(${voteItem.voteResult[index]} 명)`
