extends ../layout
block style
  link(rel='stylesheet', href='/stylesheets/voting-card.css')

block content
  h1(class='main-message') card page
  if isVotingUser
    p Already Voted
  else
    p You can vote now
  div(class='card-conteiner')
    ul
      li.title= voting.title
      li.expiry-date Until: #{voting.expiration_date}
      li.nickname Creator: #{voting.creator.nickname}
      - let isOpen = voting.openState ? 'open' : 'close';
      li(class='openState #{isOpen}') #{isOpen}
      ul(class='poll')
        include ./polls
    if isCreator
      a(href='/votings/#{voting._id}/delete' class='delete-button') delete
