<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <a href='/votings'>my votings</a>
    </div>
    <div id='voting-list'>
      voting id?
    </div>
    <div>
      <a href='/votings/new'>new voting</a>
    </div>

    <a href='/'>to main</a>
    <a href='/logout'>logout</a>
  </body>
  <script>
    console.log('<%= title %>');
    var allVotings = <%-JSON.stringify(allVotings)%>;
    var el = document.getElementById('voting-list');

    for (var i = 0; i < allVotings.length; i++) {
      console.log(allVotings[i]);

      var newHtml = '<div onclick="location.href=' + "'/votings/%id%'"
      + '">Title: %value%</div>';
      newHtml = newHtml.replace('%id%', allVotings[i]._id);
      newHtml = newHtml.replace('%value%', allVotings[i].title);

      el.insertAdjacentHTML('beforeEnd', newHtml);
    }
  </script>
</html>

<!-- // 현재 로그인한 사용자가 만든 투표 목록이 보여야 합니다.
// 전체 투표 목록(제목, 만료 날짜 및 시간, 진행 중 여부)이 보여야 합니다.
// 투표를 클릭할 경우, /votings/:id로 이동합니다. -->
