each poll in voting.polls
  li
    - let href;
    - if (voting.openState) {
    -   href = `/votings/${voting._id}/polls/${poll._id}`;
    - } else {
    -   href = '';
    - }
    a(href='#{href}')
      ul
        li= poll.title
        -  let value = '';
        -  if (isCreator || !voting.openState) {
        -    value = poll.voted_users.length;
        -  } else {
        -    value = '?'
        -  }
        -
        li #{value}
