extends layout

block append head
  link(
    rel="stylesheet"
    href="/stylesheets/createVoting.css"
  )
  link(
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  )
block content
  include header
  div.create-voting-container
    h1.create-voting-title Create voting
    form.create-voting-form
      label.create-voting-label Title
        input.input-text.input-title(
          type="text"
          name="title"
          required
        )
      label.create-voting-label Description (Not required)
        textarea.input-text.input-description(
          name="description"
        )
      label.create-voting-option-label Options
        ul.options
          li.option-list
            input.input-text.input-option(
              type="text"
              name="option"
              required
            )
            button.option-remove-button.input-button(
              type="button"
            ) ×
          li.option-list
            input.input-text.input-option(
              type="text"
              name="option"
              required
            )
            button.option-remove-button.input-button(
              type="button"
            ) ×
        button.option-add-button.input-button(
          type="button"
        ) +
      label.create-voting-checkbox-label Can select Multiple Options
        input.input-is-able-select-multiple-options(
          type="checkbox"
          name="isAbleSelectMultipleOptions"
        )
      label.create-voting-label Expiration Date
        input.input-date.input-expiration-time(
          type="datetime-local"
          name="expirationTime"
          required
        )
      label.create-voting-label Image URL (Not required)
        input.input-image-url.input-text(
          type="text"
          name="imageUrl"
        )
      div.message-box
      button.submit-button.input-button(
        type="submit"
      ) Create
    button.index-link-button.input-button(type="button") << Voting List
  script(src="/javascripts/createVoting.js")
