<!DOCTYPE html>
<html>
  <head>
    <%- include("partial/header") %>
    <title>Voting Platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/detailVoting.css" />
  </head>
  <body>
    <p id="message" class="message-box"></p>
    <section class="voting-information">
      <article class="voting-list">
        <ul>
          <p>투표 주체자: <%= author %></p>
          <p>투표 주제: <%= voting.title %></p>
          <p>투표 종료 시간: <%= voting.endDate %></p>
          <article class="voting-options">
            <% voting.options.forEach(option => { %>
              <label for="<%= option.title %>">
                <li class="voting-option">
                  <input
                    id="<%= option.title %>"
                    type="radio"
                    name="option"
                    value="<%= option.title %>"
                  >
                  <%= option.title %>
                  <% if (isAuthor) { %>
                    <span class="option-value">
                      투표 수: <%= option.value %>
                    </span>
                  <% } %>
                </li>
              </label>
            <% }) %>
          </article>
          <button id="submitButton" name="<%= voting._id %>">투표 제출</button>
          <% if (isAuthor) { %>
            <button id="deleteButton" name="<%= voting._id %>">삭제</button>
            <script src="/javascripts/deleteVoting.js"></script>
          <% } %>
          <script src="/javascripts/patchVoting.js"></script>
        </ul>
        <a href="/">투표 목록</a>
      </article>
    </section>
  </body>
</html>
