<!DOCTYPE html>
<html>
  <head>
    <%- include("partial/header") %>
    <title>Voting Platform</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/clickCheckBox.js"></script>
  </head>
  <body>
    <h1>디테일 화면</h1>
    <p>투표 제목</p>
    <%= voting.title  %>
    <p>투표 시작 시간</p>
    <%= voting.startDate %>
    <p>투표 종료 시간</p>
    <%= voting.endDate %>
    <ul>
      <p>투표 목록</p>
      <form action="/voting/votings/<%= voting._id %>" method="POST">
        <% voting.options.forEach(option => { %>
          <li>
            <input
              type="checkbox"
              name="option"
              value="<%= option.optionTitle %>"
              onclick="clickCheckBox(this)"
            >
            <%= option.optionTitle %>
          </li>
        <% }) %>
        <button type="submit">투표 제출</button>
      </form>
    </ul>
    <form action="/" method="GET">
      <button type="submit">투표 목록</button>
    </form>
  </body>
</html>
