include mixins/voteList
include mixins/header
head
  link(rel='stylesheet' href='/css/form.min.css')
  link(rel='stylesheet', href='/css/dashboard.min.css')
  script(src='https://kit.fontawesome.com/5fab680b0a.js' crossorigin='anonymous')
.container
  include partials/sidebar.pug
  .wrapper
    +header(user)
    .main-container
      a(href='/')
        i.fas.fa-arrow-circle-left
        | &nbsp Back to list
      if (vote)
        .vote
          .vote-wrapper
            h4 #{vote.title}
            p avilable - #{vote.isVotable}
            p expired At - #{vote.expiredAt}
            p Updated by - #{vote.creatorName}
            p #{vote.description || 'No Description'}
          if (vote.isVotable)
            form.form-container(action=`/vote/${vote._id}?_method=PATCH` method='POST')
              each count, option in vote.options
                .form-group
                  label
                    input.input-radio(name='option' value=`${option}` type='radio')
                    | #{option}
                    if (isCreator)
                      | -- 현재 현황: #{count}
              button(type='submit') Submit
          else
            h2 winner is ...#{vote.winner}
      if (isCreator)
        form(action=`/vote/${vote._id}?_method=DELETE` method='POST')
          button(type='submit') DELETE
