extends layout/main.pug

block content
  each item in voteItems
    a(href=`/votings/${item._id}` class='vote-item-continer')
      .vote-item-header
        p= `${item.participationList.length} 명 투표`
        div
        p= `${item.formDate} 만료`
      .vote-item-body
        p.vote-item-title= item.title
        p.vote-item-description= item.description