extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/home.css")
  link(rel="stylesheet", href="/stylesheets/sidebar.css")

block content
  body
    .home
      include includes/sidebar.pug
      .vote-viewer
        if message
          h1.no-votes #{message}
        else
          each vote in votes
            div(data-id=vote._id).vote
              .vote-top
                if vote.voteStatus === "진행 중"
                  p.vote-status.ongoing #{vote.voteStatus}
                else
                  p.vote-status.closed #{vote.voteStatus}
                .vote-info
                  p #{vote.total_voters} 명 참여 중
                  p made by #{vote.created_by}
              p.vote-title #{vote.title}
              p.expirationDate #{vote.expirationDate}

  script.
    if (!document.querySelector('.no-votes')) {
      const voteCards = document.querySelectorAll('.vote');

      for (const card of voteCards) {
        card.addEventListener('click', () => {
          location.assign(location.origin + '/votings/' + card.dataset.id);
        });
      }
    }


