<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <title>Document</title>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>
  <div class="home-grid-wrapper">
    <% for (const voting of votings) { %>
      <a href="<%= `/votings/${voting._id}` %>" class="home-grid-item">
        <div>
          <div><h3><%= voting.title %></h3></div>
          <div>
            <p>
              <%= voting.author.name %>
            </p>
            <p>
              <%= voting.expiration_date %>
            </p>
            <p>
              <%= voting.status %>
            </p>
            <% if (voting.status === 'expired') { %>
              <p>
                <%= voting.selected_option %>
              </p>
            <% } %>
          </div>
        </div>
      </a>
    <% } %>
  </div>
  <div>
    <div>
      <a href="/votings/new">
        투표 만들기
      </a>
    </div>
    <div>
      <a href="/my-votings">
        내 투표보기
      </a>
    </div>
  </div>
</body>
</html>
