extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/home.css")
  link(rel="stylesheet", href="/stylesheets/sidebar.css")

block content
  body
    .home
      include includes/sidebar.pug
      .vote-viewer
        if message
          h1.no-votes #{message}
        else
          each vote in votes
            .vote
              .vote-top
                p #{vote.voteStatus}
                p #{vote.title}
              .scroll
                .vote-mid
                  each option in vote.options
                    .option
                      span #{option.description}
                      span #{option.vote_counter} 명
              .vote-bottom
                p #{vote.totalVoters} 명 참여 중
                button 투표 참여하기

