<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <% for (let i = 0; i < votes.length; i++) { %>
      <a href="/votings/<%= votes[i]._id %>">
        <div class="votes-wrapper">
          <div>
            <%= votes[i].title %>
          </div>
          <div>
            <%= votes[i].creator %>
          </div>
          <div>
            <%= votes[i].endDate %>
          </div>
          <div>
            <% if (votes[i].isOnVote === "true") { %>
              <div>투표 진행 중입니다</div>
            <% } else { %>
              <div>투표 마감</div>
            <% } %>
          </div>
        </div>
      </a>
    <% } %>
    <footer>
      <a href="/votings/new">
        <div>
          <button>투표 생성하기</button>
        </div>
      </a>
      <a>
        <div>
          <button>내 투표 페이지</button>
        </div>
      </a>
    </footer>
  </body>
</html>
