<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <div class="votes-wrapper">
      <div class="vote-wrapper">
        <% for (let i = 0; i < votes.length; i++) { %>
          <a href="/votings/<%= votes[i]._id %>">
            <div class="vote">
              <div class="title">
                제목: <%= votes[i].title %>
              </div>
              <div class="creator">
                작성자: <%= votes[i].creator %>
              </div>
              <div class="expire-date">
                만료일:
                <%=
                  votes[i].endDate.getFullYear() + "년 " +
                  (votes[i].endDate.getMonth() + 1) + "월" +
                  votes[i].endDate.getDate() + "일"
                %>
              </div>
              <div class="vote-status">
                <% if (votes[i].isOnVote === "true") { %>
                  <div>⭕️ 투표 진행중 ⭕️</div>
                <% } else { %>
                  <div>❌ 투표 마감 ❌</div>
                <% } %>
              </div>
            </div>
          </a>
        <% } %>
    </div>
      <footer>
        <div class="btn-wrapper">
          <a href="/votings/new">
            <div>
              <button class="create-vote">투표 생성하기</button>
            </div>
          </a>
        </div>
      </footer>
  </div>
  <% if (isUserLogedIn) { %>
    <Script src="/javascripts/index.js"></Script>
  <% } %>
  </body>
</html>
