doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/index.css")
  body
    nav
      ul
        if hasLoggedIn
          li 
            a(href="/") Main
          li 
            a(href="/votings/new") New vote
          li 
            a(href="/my-votings") My votes
          li 
            a(href="/auth/logout") Logout
        else
          li 
            a(href="/") Main
          li 
            a(href="/signup") Signup
          li 
            a(href="/auth/login") Login
    main
      h1 투표 목록
        each val, index in polls
          div
            ul
              li
                a(href=`votings/${val.id}`)=`Topic: ${val.topic}`
              li=`Creator: ${val.creator.email}`
                if val.isInProgress
                  li='Still Voting: on'
                else
                  li='Still Voting: off'
              li=`Expring time: ${timeString[index][0]} ${timeString[index][1]}`