<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <%- include("partials/title") %>
  <%- include("partials/authButton") %>
  <%- include("partials/menu") %>
  <div class="voting-list">
    <% for (let i = 0; i < votings.length; i++ ) { %>
    <% const action = `/votings/${votings[i]._id}`%>
    <div id=<%= votings[i]._id %>>
      <a href=<%= action %>>
        <span><%= votings[i].title %></span>
        <span><%= votings[i].creator_username %></span>
        <span><%= votings[i].due_date %></span>
        <span><%= votings[i].due_time %></span>
        <span><%= votings[i].status %></span>
      </a>
    </div>
    <% } %>
  </div>

</body>

</html>