extends layout

block content
  h1= title
  p Welcome to Voting show
  each val in votings
    a(href='votings/#{val._id}')
      div(class='voting-card')
        ul
          li= val.title
          li= val.creator.nickname
          li= val.expiration_date
          li= val.openState
  a(href='/login') login
  br
  a(href='/logout') logout
  br
  a(href='/signup') signup
  br
  a(href='/votings/new') new voting
