<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="stylesheets/index.css" />
  </head>
  <body>
    <header>
    <a href="/">전체</a>
    <a href="/progress">진행 중</a>
    <a href="/close">종료</a>
    <%- include("partials/signContents") %>
    </header>
    <ul>
      <% if (isLogin) { %>
        <a href="/votings/new">투표 생성</a>
        <a href="/my-votings">내 투표 보기</a>
      <% } %>
      <% votes.map(vote => { %>
        <a href="/votings/<%- vote.id %>">
        <li class="vote">
          <h1><%- vote.title %></h1>
          <h2><%- vote.userName %></h2>
          <span><%- vote.state %></span>
          <span>
            <%- vote.dates.year %>년
            <%- vote.dates.month %>월
            <%- vote.dates.date %>일
            <%- vote.dates.hours %>시
            <%- vote.dates.minutes %>분
            까지
          </span>
        </li>
        </a>
      <% }) %>
    </ul>
  </body>
</html>
