<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <% if (islogined) { %>
        <button tpye="button" onclick="location.href='/logout'">LogOut</button>
        <% } else { %>
          <button tpye="button" onclick="location.href='/login'">Login</button>
          <% } %>
    </div>
    <h1>λ©”μΈνμ΄μ§€</h1>


    <ul>
      <% for (let index = 0; index < votingList.length; index++) { %>
        <% if (votingList[index].isExpire) { %>
          <li class='expire' onclick="location.href='/votings/<%=votingList[index]._id%>'">
        <% } else { %>
          <li class='layout' onclick="location.href='/votings/<%=votingList[index]._id%>'">
        <% } %>
          <div>
            μ λ©: <%=votingList[index].subject%>
          </div>
          <div>
            μƒμ„±μ: <%=votingList[index].userName%>
          </div>
          <div>
            λ§λ£ λ‚ μ§:
               π•
               <%=votingList[index].date.toLocaleDateString()%> 
               <%=votingList[index].date.toLocaleTimeString()%>
               π•¥
             </div>
             <div>
              <% if (votingList[index].isExpire) { %>
                ν¬ν‘κ°€ μΆ…λ£λμ—μµλ‹λ‹¤
              <% } else { %>
                ν¬ν‘κ°€ μ§„ν–‰μ¤‘μ…λ‹λ‹¤.
              <% } %>
            </div>
        </li>
        <% } %>
        </li>
      </ul>
      <% if (islogined) { %>
        <button tpye="button" onclick="location.href='/votings/new'">ν¬ν‘ μƒμ„±</button>
        <button tpye="button" onclick="location.href='/my-votings'">λ‚΄ ν¬ν‘ λ³΄κΈ°</button>
        <% } %>
    
  </body>
</html>


