<!DOCTYPE html>
<html>
  <%- include('partial/head') -%>
  <body>
    <%- include('partial/header') -%>
    <div class="container">
      <%
        const expiratedVotes = [];
        const unexpiratedVotes = [];

        for (let i = 0; i < votes.length; i++) {
          const { expirated } = votes[i];
          const currentTime = new Date().getTime();
          const expiratedTime = new Date(expirated).getTime();
          const isExpirated = expiratedTime - currentTime < 0;

          if (isExpirated) {
            expiratedVotes.push(votes[i]);
          } else {
            unexpiratedVotes.push(votes[i]);
          }
        }
      %>

      <%- include('partial/votes', {
        title: '진행중인 투표',
        votes: unexpiratedVotes
      }) -%>

      <%- include('partial/votes', {
        title: '만료된 투표',
        votes: expiratedVotes
      }) -%>
    </div>
    <%- include('partial/scripts') -%>
  </body>
</html>
