extends layout

block content
  main
    each vote in votesData
      a(href=`/votings/${vote._id}`)
        if vote.isInProgress
          div.progress-container
            h2= vote.title
            span= vote.writer.nickname
            span= vote.due_date
            span 진행중
        else
          div.completed-container
            h2= vote.title
            span= vote.writer.nickname
            span= vote.due_date
            span 종료
