<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/head') %>
    <link rel='stylesheet' href='/stylesheets/index.css'>
  </head>
  <body>
    <%- include ('partials/header') %>

    <h1>Home</h1>
    <div class="vote-container">
      <div class="home-left">
        <h2 class="vote-state">진행중</h2>
        <div class="grid-container">
          <% for (let i = 0; i < validatedVote.length; i++) { %>
            <div class="grid-box">
              <form action="/votings/<%= validatedVote[i]._id %>" method="GET">
                <div>
                  <span>투표 주제:  <%= validatedVote[i].title %></span>
                </div>
                <div>
                  <span>생성자:  <%= validatedVote[i].creater.nickname %></span>
                </div>
                <div>
                  <span>종료 시간:  <%= validatedVote[i].convertedExpiredAt %></span>
                </div>
                <div class="gird-buttons">
                  <button class="grid-button" type="submit">투표 하기</button>
                  <% if (validatedVote[i].creater._id.toString() === user._id.toString()) { %>
                    <button class="grid-button" type="submit">중간 결과</button>
                  <% } %>
                </div>
              </form>
            </div>
          <% } %>
        </div>
      </div>
      <div class="home-right">
        <h2 class="vote-state">완료</h2>
        <div class="grid-container">
          <% for (let i = 0; i < expiredVote.length; i++) { %>
            <div class="grid-box">
              <form action="/votings/<%= expiredVote[i]._id %>" method="GET">
                <div>
                  <span>투표 주제:  <%= expiredVote[i].title %></span>
                </div>
                <div>
                  <span>생성자:  <%= expiredVote[i].creater.nickname %></span>
                </div>
                <div>
                  <span>종료 시간:  <%= expiredVote[i].convertedExpiredAt %></span>
                </div>
                <button type="submit">결과 보기</button>
              </form>
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <%- include ('partials/footer') %>
  </body>
</html>
