<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="main-content">
      <h1><%= title %></h1>
      <p><%= title %> here is main</p>
      <% if (displayName) { %>
        <div><a href="/votings/new">Add Voting!</a></div>
       <% } %>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
