extends layout

block content
  main
    each vote in votesData
      a(href=`/votings/${vote._id}`)
        if vote.isInProgress
          div.progress-container
            h2(class='vote-title')= vote.title
            div= vote.writer.nickname
            div.time-container
              div= '~ ' + vote.due_date
              div / in progress
        else
          div.completed-container
            h2(class='vote-title')= vote.title
            div= vote.writer.nickname
            div.time-container
              div= '~ ' + vote.due_date
              div / end
