<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <h1>Sign up</h1>
    <div class="auth-wrap">
    <% if(typeof err !== 'undefined') {%>
      <div class="err-wrap">
        <h3 class="err-message"><%= err %></h3>
      </div>
    <% } %>
    <form action="/signup" method="POST">
      <div class="form-wrap">
        <input
          type="email"
          class="auth-field"
          name="email"
          id="email"
          autocomplete="off"
          placeholder="이메일 주소를 입력해 주세요."
          value="<%= typeof email !== 'undefined' ? email : '' %>"
        >
      </div>
      <div class="form-wrap">
        <input
          type="text"
          class="auth-field"
          name="userName"
          id="userName"
          autocomplete="off"
          placeholder="닉네임은 뭘로 할까요?"
          value="<%= typeof username !== 'undefined' ? username : '' %>"
        >
      </div>
      <div class="form-wrap">
        <input
          type="password"
          class="auth-field"
          name="password"
          id="password"
          autocomplete="off"
          placeholder="비밀번호를 입력해 주세요."
        >
      </div>
      <div class="form-wrap">
        <input
          type="password"
          class="auth-field"
          name="confirmPassword"
          id="confirmPassword"
          autocomplete="off"
          placeholder="비밀번호를 한 번 더 입력해 주세요."
        >
      </div>
      <div class="form-wrap">
        <input
          class="signup-btn"
          type="submit"
          value="가입할래요!"
        >
      </div>
      <p class="auth-ask">
        이미 아이디가 있으신가요?
        <a href="/login">로그인하기</a>
      </p>
    </form>
  </div>
  </div>
</body>

</html>