<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="stylesheets/index.css" />
  </head>
  <body>
    <%- include("partials/bodyHeader") %>
    <ul>
      <% if (isLogin) { %>
        <a href="/votings/new">투표 생성</a>
        <a href="/my-votings">내 투표 보기</a>
      <% } %>
      <% votes.map(vote => { %>
        <a href="/votings/<%- vote.id %>">
        <li class="vote">
          <h1><%- vote.title %></h1>
          <h2><%- vote.userName %></h2>
          <span><%- vote.state %></span>
          <span><%- vote.expire %></span>

        </li>
        </a>
      <% }) %>
    </ul>
  </body>
</html>
