<!DOCTYPE html>
<html>
  <head>
    <title>Voting Platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/votingCard.css" />
  </head>
  <body>
    <%- include("partial/header") %>
    <article class="buttons">
      <% if (user) { %>
        <span class="user-info"><%= user.email %></span>
        <a href="http://localhost:3000/auth/logout">로그아웃</a>
      <% } else { %>
        <a href="http://localhost:3000/auth/login">로그인</a>
      <% } %>
      <a href="http://localhost:3000/voting/votings/new">투표 생성</a>
      <a href="http://localhost:3000/voting/votings/my-votings">내 투표</a>
    </article>
    <section class="container">
      <ul class="votings">
        <% votings.forEach(voting => { %>
          <li class="voting card">
            <div class="card-header card">
              <h4><%= voting.title %></h4>
            </div>
            <div class="card-info card">
              <p>투표 종료 날짜</p>
              <%= voting.endDate %>
              <% if (voting.isProgress) { %>
                <p>투표 진행 중</p>
              <% } else { %>
                <p>투표 종료</p>
              <% } %>
              <a href="http://localhost:3000/voting/votings/<%= voting._id %>">
                <% if (voting.isProgress) { %>
                  투표하러 가기
                <% } else { %>
                  투표 결과 보기
                <% } %>
              </a>
            </div>
          </li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>
