<!DOCTYPE html>
<html>
  <head>
    <title>INDEX</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <%- include('header') %>
    <div id='body_container'>
      <div class='table-container'>
        <table class='voting_list_table'>
          <tr>
            <th>Title</th>
            <th>Creator</th>
            <th>End time</th>
            <th>Status</th>
          </tr>
          <% votings.map(voting => { %>
            <tr>
              <td>
                <a href=<%=`/votings/${voting._id}`%>>
                  <%= voting.title %>
                </a>
              </td>
              <td><%= voting.authorName %></td>
              <td>
                <%= new Date(voting.end_time).toString().substring(0,34) %>
              </td>
              <td>
                <%= voting.status.toLowerCase() %>
              </td>
            </tr>
          <% }) %>
        </table>
      </div>
      <div id='create_button_container'>
        <a href="/votings/new">
          <button class='primary_button'>
            Create a new voting
          </button>  
        </a>
      </div>
    </div>
  </body>
</html>
