extends layout
block append head
  link(rel='stylesheet' href='/css/main.min.css')
block content
  h1= votehere
  if (user)
    p Hello #{user.name}
    if (user.avatarUrl)
      img(src=`${user.avatarUrl}`)
    else 
      img(src='https://cdn5.vectorstock.com/i/thumb-large/45/79/male-avatar-profile-picture-silhouette-light-vector-4684579.jpg')
    p #{user.email}
  else
    p HELLO GUEST
  if (user)
    form(action='/myvote')
      button(type='submit') MY-VOTES
    form(action='/auth/logout?_method=DELETE' method='POST')
      button(type='submit') LOGOUT
  else
    form(action='/auth/github' method='GET')
      button(type='submit') LOGIN WITH GITHUB
    form(action='/auth/signup' method='GET')
      button(type='submit') SIGN UP
    form(action='/auth/login' method='GET')
      button(type='submit') LOG IN
      
  button(id='plusButton')
    a(href='/vote/new') MAKE NEW VOTE
  ul.all-votes
    if (allVotes)
      each vote in allVotes
        li
          a(href=`/vote/${vote._id}`)
            .eachVote
              h4 #{vote.title}
              p avilable - #{vote.isVotable}
              p expired At - #{vote.expiredAt}
              p by #{vote.creatorName}
