<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <% include ./partials/nav %>
    <ul>
      <% for (var i = 0; i < votes.length; i++) { %>
        <li>
          <a href="/votings/<%= votes[i]._id %>">
            <div>
              <h3>
                <%= votes[i].title %>
                <% var isExpired = (new Date() - new Date(votes[i].expired_at) > 0); %>
                <span class="<%= isExpired ? 'inactive' : 'active' %>">
                  ON
                </span>
              </h3>
            </div>
            <ul>
              <li><%= votes[i].user_id.name %></li>
              <li><%= votes[i].converted_date %></li>
            </ul>
          </a>
        </li>
      <% } %>
    </ul>
  </body>
  <script>
    var message = '<%= loginMessage %>';

    if (message) {
      alert(message);
    }
  </script>
</html>
