<div class="body-container">
  <h1 class="bouncy-font">Home</h1>
  <div class="votes-container">
    <% if (votes.length > 0) { %>
      <% votes.map((vote) => { %>
        <a href="/votings/<%= vote._id %>">
          <div class="vote <%- vote.isInProgress ? 'in-progress' : 'closed' %>">
            <div>
              <h1 class="gamja-font"><%= vote.title %></h1>
              <span class="cherl-font">Creator : </span>
              <span class="gamja-font"><%= vote.creator?.name || "íƒˆí‡´í•œ íšŒì›" %></span>
              <p class="cherl-font">Due Date : <%= vote.dueDate %></p>
            </div>
            <div class="bouncy-font">
              <% if (vote.isInProgress) { %>
                <p>In Progress</p>
              <% } else { %>
                <p>Closed</p>
              <% } %>
            </div>
          </div>
        </a>
      <% }) %>
    <% } else { %>
      <div class="bouncy-font">No votes..ðŸ˜¥</div>
    <% }%>
  </div>
</div>
