<% if (votes.length) { %>
  <ul class='vote-list'>
    <% for (var i = 0; i < votes.length; i++) { %>
      <% if (votes[i].status === '진행중') { %>
        <li class='ing'>
      <% } else { %>
        <li class='done'>
      <% } %>

      <a href='/votings/<%= votes[i]._id %>'>
        <p class='tit'><%= votes[i].title %></p>
        <% if (votes[i].description) { %>
          <p class='desc'>설명: <%= votes[i].description %></p>
        <% } %>
        <p class='creator'>생성자: <%= votes[i].name %></p>
        <p class='created'>생성일: <%= votes[i].created_at %></p>
        <p class='expired'>만료일: <%= votes[i].expired_at %></p>
        <p class='status'>상태: <%= votes[i].status %></p>
      </a>

      <% if (votes[i].isUser) { %>
        <div class='buttons'>
          <a href='/votings/<%= votes[i]._id %>/result'>투표 결과보기</a>
          <button class='deleteVote' id='<%= votes[i]._id %>'>삭제</button>
        </div>
      <% } %>

      </li>
    <% } %>
  </ul>
<% } else { %>
  <p class='nodata'>데이터가 없습니다.</p>
<% } %>

<script>
  let dels = document.querySelectorAll('.deleteVote');

  dels.forEach($del => {
    $del.addEventListener('click', ev => {
      fetch(`/votings/${ev.currentTarget.id}`, {
        method: 'DELETE'
      })
        .then(res => {
          if (res.ok) {
            window.location.href='/'
          } else {
            throw new Error();
          }
        })
        .catch(err => {
          console.error(err);
        });
    });
  });
</script>
