<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>votingPage</title>
  </head>
  <body>
    <header>
      <a href="/signup">
        <div>
          회원가입
        </div>
      </a>
      <a href="/login">
        <div>
          로그인
        </div>
      </a>
      <a href="/votings/new">
        <div class="create-vote-wrapper">
          <div class="create-vote">투표 생성하기</div>
        </div>
      </a>
      <% if (isUserLogedIn) { %>
        <form action="/my-votings" method="GET">
          <div class="my-voting-wrapper">
            <button class="my-voting-btn">내 투표목록</button>
          </div>
        </form>
        <div class="logout-wrapper">
          <button class="logout-btn">로그아웃</button>
        </div>
      <% } %>
    </header>
    <main class="votes-wrapper">
      <div class="progress-vote-wrapper">
        <% for (let i = 0; i < progressingVote.length; i++) { %>
          <a href="/votings/<%= progressingVote[i]._id %>">
            <div class="progress-vote">
              <div class="title-wrapper">
                <h3>
                  <%= progressingVote[i].title %>
                </h3>
              </div>
              <div class="creator-wrapper">
                <div class="creator">
                  <i class="fa fa-id-card"> 작성자: </i>
                  <%= progressingVote[i].creator %>
                </div>
              </div>
              <div class="expire-date-wrapper">
                <div class="end-date">
                  <i class="fa fa-table"> 마감일: </i>
                  <%=
                    progressingVote[i].endDate.getFullYear() + "년" +
                    (progressingVote[i].endDate.getMonth() + 1) + "월" +
                    progressingVote[i].endDate.getDate() + "일"
                  %>
                </div>
              </div>
              <div class="progressing-status-wrapper">
                <div class="progressing-status">
                  <i class="fa fa-paper-plane"></i>
                  투표 진행중
                </div>
              </div>
            </div>
          </a>
        <% } %>
      </div>
      <div class="ended-vote-wrapper">
        <% for (let i = 0; i < endedVote.length; i++) { %>
          <a href="/votings/<%= endedVote[i]._id %>">
            <div class="ended-vote">
              <div class="title-wrapper">
                <h3>
                  <%= endedVote[i].title %>
                </h3>
              </div>
              <div class="ended-creator-wrapper">
                <div class="creator">
                  <i class="fa fa-id-card"> 작성자: </i>
                  <%= endedVote[i].creator %>
                </div>
              </div>
              <div class="ended-expire-date-wrapper">
                <div class="end-date">
                  <i class="fa fa-table"> 마감일: </i>
                  <%=
                    endedVote[i].endDate.getFullYear() + "년" +
                    (endedVote[i].endDate.getMonth() + 1) + "월" +
                    endedVote[i].endDate.getDate() + "일"
                  %>
                </div>
              </div>
              <div class="ended-status-wrapper">
                <div class="progressing-status">
                  <i class="fa fa-times-circle"></i>
                  투표 마감
                </div>
              </div>
            </div>
          </a>
        <% } %>
      </div>
    </main>
    <% if (isUserLogedIn) { %>
      <Script src="/javascripts/index.js"></Script>
    <% } %>
  </body>
</html>
