<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <% include ./partials/nav %>
    <div class="container">
      <ul class="main-list">
        <% if (!votes.length) { %>
          <li class="no-data">
            <div class="wrap">
              NO DATA
              <p>Create New Vote!</p>
            </div>
          </li>
        <% } %>
        <% for (var i = 0; i < votes.length; i++) { %>
          <li>
            <a href="/votings/<%= votes[i]._id %>">
              <h3 class="vote-title">
                <% var isExpired = (new Date() - new Date(votes[i].expired_at) > 0); %>
                <span class="mark-vote <%= isExpired ? 'inactive' : 'active' %>">
                  <%= isExpired ? 'OFF' : 'ON' %>
                </span>
                <%= votes[i].title %>
              </h3>
              <ul class="vote-detail-list">
                <li><%= votes[i].user_id.name %></li>
                <li><%= votes[i].converted_date %></li>
              </ul>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
  <script>
    var message = '<%= message %>';

    if (message) {
      alert(message);
    }
  </script>
</html>
