extends layout

block content
  h1= votehere
  if (user)
    p Hello #{user.name}
    img(src=`${user.avatarUrl}`)
    p #{user.email}
  else
    p HELLO GUEST
  if (user)
    form(action='/auth/logout?_method=DELETE' method='POST')
      button(type='submit') LOGOUT
  else
    form(action='/auth/github' method='GET')
      button(type='submit') LOGIN WITH GITHUB
      
  button(id='plusButton')
    a(href='/vote/new') MAKE NEW VOTE
  ul.all-votes
    if (allVotes)
      each vote in allVotes
        li
          a(href=`/vote/${vote._id}`)
            .eachVote
              h4 #{vote.title}
              p avilable - #{vote.isVotable}
              p expired At - #{vote.expiredAt}
              p by #{vote.creatorName}
