extends layout

block content
  main
    h1= title
    p 언제든 투표를 만들고, 다른이들의 투표에 참여해 보세요!
    if loginUser
      button.button-vote-creator(onclick="window.location.href = '/votings/new';") 투표 만들기
    -var values = votes;
      each val in values
        div.vote-box(data-id=val.id onclick="window.location.href = '/votings/:"+val.id+";")
          div.vote-title=val.title
          div.vote-creator=val.creator
          div.flex-row
            case val.state
              when '진행중'
                div.vote-state-going=val.state
              when '완료'
                div.vote-state-done=val.state
            div.vote-due='투표마감:'+val.due
