<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap">
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    >
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="btn-wrap">
      <% if (displayName) { %>
        <a href="/votings/new"><i class="fas fa-plus"></i></a>
      <% } else { %>
        <a href="/login"><i class="fas fa-plus"></i></a>
      <% } %>
    </div>
    <div clas="main-content-wrap">
      <div class="main-content">
      <% if (votingFormat.length > 0) { %>
        <% votingFormat.forEach(function(voting) { %>
          <div class="voting-card <% voting.isProceeding ? null : finished %>">
            <div class="card-container">
              <a class="voting-link" href="/votings/<%= voting._id %>">
                <h2 class="voting-title"><%= voting.title %></h2>
                <div class="is-proceeding">
                  <% if (voting.isProceeding) { %>
                    <h3 class="proceeding-font">Proceeding...</h3>
                    <h4 class="expire-date">Expire at: <%= voting.expireDate %></h4>
                  <% } else { %>
                    <h4 class="expire-status finished-font">Finished</h4>
                  <% } %>
                </div>
                <h4 class="author">Author: <%= voting.author.userName %></h4>
                <h4 class="contact">Contact: <%= voting.author.email %></h4>
              </a>
            </div>
          </div>
        <% }) %>
      <% } %>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
