<!DOCTYPE html>
<html>
<head>
  <title>투표</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <button
    id='login'
    <% if (isLoggedIn) { %>class='hidden'<% } %>
  >로그인</button>
  <button
    id='logout'
    <% if (!isLoggedIn) { %>class='hidden'<% } %>
  >로그아웃</button><br><br>
  <button id='my-votings'>내가 만든 투표 보기</button><br><br>
  <a href='/votings/new'>새 투표 만들기</a>
  <h1>투표 목록</h1>
  <h2 class='section-header'>진행중</h2>
  <div class='open-votings'>
    <ul>
      <% openVotingsData.forEach(data => { %>
        <li>
          <a href='/votings/<%= data.voting._id %>'><%= data.voting.title %></a><br>
          <% if (data.userIsCreator) { %>
            <span>현재 최다 득표: <% data.mostVoted.forEach(mostVotedOption => { %>
              <span>
                <%= mostVotedOption %>
              </span>
            <% }) %></span><br>
          <% } %>
          <%= data.formattedExpirationDate %>까지<br>
          만든 사람: <%= data.creatorUsername %><br>
        </li>
      <% }) %>
    </ul>
  </div>
  <h2 class='section-header'>마감</h2>
  <div class='expired-votings'>
    <ul>
      <% expiredVotingsData.forEach(data => { %>
        <li>
          <a href='/votings/<%= data.voting._id %>'><%= data.voting.title %></a><br>
          <span>최다 득표: <% data.mostVoted.forEach(mostVotedOption => { %>
            <span>
              <%= mostVotedOption %>
            </span>
          <% }) %></span><br>
          만든 사람: <%= data.creatorUsername %><br>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
<script src='/javascripts/clientMain.js'></script>
</html>
