<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= user %></p>
    <%if (flashes) { %>
        <div><%= JSON.stringify(flashes, null, 2) %></div>
    <% } %>
    <p>Welcome to <%= title %></p>
    <a href='/votings/new'>투표 생성하기</a>
  </body>
</html>
