<!DOCTYPE html>
<html>
<head>
  <title>투표</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <button
    id='login'
    <% if (isLoggedIn) { %>class='hidden'<% } %>
  >로그인</button>
  <button
    id='logout'
    <% if (!isLoggedIn) { %>class='hidden'<% } %>
  >로그아웃</button><br><br>
  <button id='my-votings'>내가 만든 투표 보기</button><br><br>
  <a href='/votings/new'>새 투표 만들기</a>
  <h1>투표 목록</h1>
  <h2>진행중</h2>
  <ul>
    <% openVotingsData.forEach(data => { %>
      <li>
        <a href='/votings/<%= data.voting._id %>'><%= data.voting.title %></a><br>
        <% if (data.userIsCreator) { %>
          <span>현재 결과: <% data.mostVoted.forEach(mostVotedOption => { %>
            <span>
              <%= mostVotedOption %>
            </span>
          <% }) %></span><br>
        <% } %>
        <%= data.formattedExpirationDate %>까지<br>
        만든 사람: <%= data.creatorUsername %><br>
      </li>
    <% }) %>
  </ul>
  <h2>마감</h2>
  <ul>
    <% expiredVotingsData.forEach(data => { %>
      <li>
        <a href='/votings/<%= data.voting._id %>'><%= data.voting.title %></a><br>
        <span>결과: <% data.mostVoted.forEach(mostVotedOption => { %>
          <span>
            <%= mostVotedOption %>
          </span>
        <% }) %></span><br>
        만든 사람: <%= data.creatorUsername %><br>
      </li>
    <% }) %>
  </ul>
</body>
<script src='/javascripts/clientMain.js'></script>
</html>
