extends layout

block append head
  link(
    rel="stylesheet"
    href="/stylesheets/login.css"
  )
  link(
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  )
block content
  include header
  div.login-container
    form.login-form
      label.login-label Email
        input.input-email(
          name="email"
          type="email"
          autocomplete="username"
          required
        )
      label.login-label Password
        input.input-password(
          name="password"
          type="password"
          autocomplete="current-password"
          required
        )
      div.message-box
      button.login-submit-button(
        type="submit"
      ) Log in
      button.signup-link-button(
        type="button"
      ) To Sign up
  script(src="/javascripts/login.js")
