extends layout

block append head
  link(rel="stylesheet" href="/stylesheets/login.css")
block content
  div.login-container
    form.login-form
      label.login-label Email
        input.input-email(
          name="email"
          type="email"
          autocomplete="username"
          required
        )
      label.login-label Password
        input.input-password(
          name="password"
          type="password"
          autocomplete="current-password"
          required
        )
      div.message-box
      button.login-button(
        type="submit"
      ) Log in
      button.signup-link-button(
        type="button"
      ) Sign up
  script(src="/javascripts/login.js")
