<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <% for(let i of votingsData) { %>
  <div class="votings">
    <a href="/votings/<%= i.id %>">
      <div>투표제목 <%= i.title %></div>
      <div>작성자 <%= i.writer %></div>
      <div>투표 설명 <%= i.description %></div>
      <div class="endDate">만료일 <%= i.expiration_date %></div>
      <% if(i.progress === true) { %>
      <div>진행여부: 진행 중</div>
      <% } %>
      <% if(i.progress === false) { %>
      <div>진행여부: 진행 종료</div>
      <% } %>
    </a>
  </div>
  <% } %>
  <div>
    <span class="votingsNew mainPageBtn">
      <a href="/votings/new">투표 생성하기</a>
    </span>
    <span class="myVotings mainPageBtn">
      <a href="/my-votings">내 투표보기</a>
    </span>
  </div>

  <script>

    const endDate = document.querySelectorAll('.endDate');

    setInterval(() => {
      let date = new Date()
      for (let i = 0; i < endDate.length; i++) {
        // console.log('확인',endDate[i].textContent)
        // console.log('확인',date)

        if (endDate[i].textContent === String(date)) {
          fetch('/', {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ date: date })
          })
          .then((res)=>{
            return res.json();
          })
          .then((myJson) => {
            console.log(myJson);
          })
          .catch((err) => {
            console.log(err);
          })
        }
      }
    }, 1000);



  </script>
</body>

</html>