<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <% for(let i of votingsData) { %>
  <div class="votings">
    <a href="/votings/<%= i.id %>">
      <div>
        <span>투표제목</span>
        <span><%= i.title %></span>
      </div>
      <div>
        <span>작성자</span>
        <span><%= i.writer %></span>
      </div>
      <div>
        <span>설명</span>
        <span><%= i.description %></span>
      </div>
      <div>
        <span>만료일</span>
        <span class="endDate"><%= i.expiration_date_string %></span>
      </div>
      <% if(i.progress === true) { %>
      <div class="progress">진행 중</div>
      <% } %>
      <% if(i.progress === false) { %>
      <div class="progress">진행 종료</div>
      <% } %>
    </a>
  </div>
  <% } %>
  <div>
    <span class="votingsNew mainPageBtn">
      <a href="/votings/new">투표 생성하기</a>
    </span>
    <span class="myVotings mainPageBtn">
      <a href="/my-votings">내 투표보기</a>
    </span>
  </div>

  <script src="/javascripts/mainPage.js"></script>

</body>

</html>
