extends layout
block style
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  h1(class='main-message') Hello #{user.nickname}! Your Page!
  .grid
    each voting in votings
      a(href='votings/#{voting._id}').voting-card
        div(class='voting-card')
          ul
            li.title= voting.title
            li.nickname= user.nickname
            li.expiry-date= voting.expiration_date
            - let isOpen = voting.openState ? 'open' : 'close';
            li(class='openState #{isOpen}') #{isOpen}
