<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class='myvoting-box'>
      <div class='menu'>
        <a id='selector' href='/'>HOME</a>
        <div id='selector' href='/my-votings'><%= username %>의 투표함</a>
      </div>
      <div class='myvoting-list'>
        <% for (let i = 0; i < myVotingList.length; i++) { %>
          <a id='each-voting' href='votings/<%= myVotingList[i]._id %>'>
            <div class='voting-title'><%= myVotingList[i].title %></div>
            <div class='voting-progress'><%= myVotingList[i].progress %></div>
            <div class='voting-creator'><%= myVotingList[i].creator %></div>
            <div class='voting-expire'><%= myVotingList[i].expire_day %></div>
          </a>
        <% } %>
        <a id='creating-voting' href='/votings/new'>투표만들기</a>
      </div>
    </div>
  </body>
  <link rel='stylesheet' href='/stylesheets/my-votings.css' />
</html>
