extends layout

block content
  h1 Hello #{user.nickname}!
  h2 This is your votings
  each voting in votings
    a(href='votings/#{voting._id}')
      div(class='voting-card')
        ul
          li= voting.title
          li= user.nickname
          li= voting.expiration_date
          li #{voting.openState ? 'open' : 'closed'}
  a(href='/logout') logout
  br
  a(href='/votings/new') new voting
  br
  a(href='/') to home
