<!DOCTYPE html>
<html>
  <head>
    <title>My votings</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/my_votings.css' />
  </head>
  <body>
    <%- include('header') %>
    <div id='body_container'>
      <table class='voting_list_table'>
        <tr>
          <th>Title</th>
          <th>Creator</th>
          <th>Expiry</th>
          <th>Status</th>
        </tr>
        <% votings.map(voting => { %>
          <tr>
            <td>
              <a href=<%=`/votings/${voting._id}`%>>
                <%= voting.title %>
              </a>
            </td>
            <td><%= voting.authorName %></td>
            <td><%= voting.end_time %></td>
            <td>
              <% if (voting.status === 'active') { %>
                🗳️ Ongoing
              <% } else if (voting.status === 'ended') { %>
                📦 Finished
              <% } %>
            </td>
          </tr>
        <% }) %>
      </table>
      </ul>
    </div>
  </body>
</html>
