<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <div class="main-container">
    <% for (let i = 0; i < myVotings.length; i++) { %>
      <div class="vote-container">
        <div class="vote-column">
          <h2 class="vote-title"><%= myVotings[i].title %></h2>
          <a href="/votings/<%= myVotings[i]._id %>">
            <button class="show-vote-button">투표 보기</button>
          </a>
        </div>
        <div class="vote-details">
          <span class="vote-date">
            생성날짜
            <span class="date-detail"><%= myVotings[i].createdAt %></span>
          </span>
          <span class="vote-date">
            만료날짜
            <span class="date-detail"><%= myVotings[i].expirationDate %></span>
          </span>
        </div>
      </div>
    <% } %>
  </div>
</body>

</html>
