<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title Voting
  body
    div.basicwarp
      h1 내가 등록한 투표
      div.buttonwrap
        input.button.line-gray.small(
          type='button'
          onclick='location.href=\'/\''
          value='로그아웃')
      div.buttonwrap
        input.button.line-blue(
          type='button'
          onclick='location.href=\'/\''
          value='홈으로')
      div.buttonwrap
        input.button.blue(
          type='button'
          onclick='location.href=\'/votings/new\''
          value='투표 만들기')
      if votings
        ul
          each voting in votings
            li.votingCard
              a(href=`/votings/${voting._id}`)
                div.card-title= voting.title
                div - 등록자 | #{voting.voting.createdBy.username}
                div - 종료일 | #{voting.expiredAt}
                div - 진행중 | #{voting.isProceeding}
