<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <div class="main-container">
    <% for (let i = 0; i < myVotings.length; i++) { %>
      <div class="vote-container">
        <h1 class="vote-title"><%= myVotings[i].title %></h1>
        <div class="vote-details">
          <span class="vote-createdAt">생성날짜<%= myVotings[i].createdAt %></span>
          <span class="vote-expirationDate">만료날짜<%= myVotings[i].expirationDate %></span>
          <span class="vote-expired"><%= myVotings[i].expired %></span>
        </div>
        <a href="/votings/<%= myVotings[i]._id %>"><button>투표 보기</button></a>
      </div>
    <% } %>
  </div>
</body>

</html>
