<div class="body-container">
  <h1>내 투표</h1>
  <div class="votes-container">
    <% if (votes.length > 0) { %>
      <% votes.map((vote) => { %>
        <a href="/votings/<%= vote._id %>">
          <div class="vote <%- vote.isInProgress ? 'in-progress' : 'closed' %>">
            <div>
              <h1><%= vote.title %></h1>
              <div>마감일 : <%= vote.dueDate %></div>
            </div>
            <div>
              <% if (vote.isInProgress) { %>
                <% vote.options.map((option) => { %>
                  <div class="my-votings-option"><%= option.name %> : <%= option.voters.length %></div>
                <% }) %>
              <% } else { %>
                <p>마감</p>
              <% } %>
            </div>
          </div>
        </a>
      <% }) %>
    <% } else { %>
      <div>No votes..😥</div>
    <% }%>
  </div>
</div>
