<link rel="stylesheet" href="/stylesheets/style.css" />

<div class="votings-info-wrapper">
  <div class="voting-info-board">
    <span class="voting-info-font"><%= userName %></span>
    <a class="voting-info-font" href="/votings">ALL</a>
    <a class="voting-info-font" href="/votings/my-votings/<%= userId%>">My votes</a>
    <a class="voting-info-font" href="/votings/<%= userId%>">Log out</a>
  </div>  
</div>
<div class="votings-wrapper">
  <div class="voting-marign-wrapper">
  <div class="votings-grid-board">
    <% for(let i = 0; i < votings.length; i++) { %>
      <div class="voting-grid-card">
        <% if(votings[i] === 'img'){ %>
          <img class="voting-grid-img" src='/images/smileface.jpg'>
        <% } else{ %>
            <p class="voting-name-font"><%= votings[i].name %></p>
            <span class="voting-creator-font"><%= votings[i].nickname %></span>
            <span class="voting-creator-font"><%= votings[i].expireDate %> 에 마감</span>
        <% } %>
        </div>
    <% } %>
    <div class="voting-grid-card ">
      <a href="/votings/new">New vote</a>
    </div>
  </div>
  </div>
</div>
