<link rel="stylesheet" href="/stylesheets/style.css" />

<div class="votings-info-wrapper">
  <div class="voting-info-board">
    <span class="voting-info-username-font"><%= userName %></span>
    <a class="voting-info-link" href="/votings">ALL</a>
    <a class="voting-info-link" href="/votings/my-votings/<%= userId%>">My votes</a>
    <a class="voting-info-link" href="/votings/<%= userId%>">Log out</a>
  </div>  
</div>
<div class="votings-wrapper">
  <div class="voting-marign-wrapper">
  <div class="votings-grid-board">
    <% for(let i = 0; i < votings.length; i++) { %>
      <div class="voting-grid-card">
        <% if(votings[i] === 'img'){ %>
          <img class="voting-grid-img" src='/images/smileface.jpg'>
        <% } else{ %>
          <% if(votings[i].isExpired){ %>
            <a href="/votings/id/<%= votings[i]._id%>"><p class="voting-name-font expired"><%= votings[i].name %></p></a>
            <span class="voting-creator-font">이미 마감됨!</span>
            <% } else{ %>
              <a href="/votings/id/<%= votings[i]._id%>"><p class="voting-name-font"><%= votings[i].name %></p></a>
              <span class="voting-creator-font"><%= votings[i].expireDate %> 에 마감</span>
            <% } %>
        <% } %>
        </div>
    <% } %>
    <div class="voting-grid-card">
      <span class="add-button"><a href="/votings/new">+</a></span>
    </div>
  </div>
  </div>
</div>
