<!DOCTYPE html>
<html>
  <head>
    <title>Voting Platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/detailVoting.css" />
  </head>
  <body>
    <section class="main-page">
      <article class="side-page">
        <h2 class="title">
          VOTING<br>
          PLATFORM
        </h2>
        <pre class="description">
          μ°μΈ΅μ μƒμ„Έ ν¬ν‘ν•¨μ—μ„ λ‹Ήμ‹ μ μ†μ¤‘ν• ν• ν‘λ¥Ό λμ Έμ£Όμ„Έμ”!
          ν¬ν‘ κ²°κ³Όλ” ν¬ν‘ μΆ…λ£ μ‹κ°„ μ΄ ν›„μ— ν™•μΈν•μ‹¤ μ μμµλ‹λ‹¤.
          ν• λ² ν¬ν‘ν•λ©΄ λ³€κ²½μ΄ λ¶κ°€ν•μ¤λ‹ μ‹ μ¤‘ν•κ² ν¬ν‘ λ°”λλ‹λ‹¤!π§
        </pre>
      </article>
      <article id="voting" class="voting-information">
        <% myVotings.forEach(myVoting => { %>
          <article class="voting-list">
            <ul>
              <p>ν¬ν‘ μ£Όμ : <%= myVoting.title %></p>
              <p>ν¬ν‘ μΆ…λ£ μ‹κ°„: <%= myVoting.endDate %></p>
              <% myVoting.options.forEach(option => { %>
                <li class="voting-option">
                  <%= option.title %>/
                  ν¬ν‘ μ: <%= option.value %>
                </li>
              <% }) %>
              <a href="/voting/votings/<%= myVoting._id %>">
                ν¬ν‘ νμ΄μ§€λ΅
              </a>
              <button id="deleteButton" name="<%= myVoting._id %>">
                μ‚­μ 
              </button>
            </ul>
            <script src="/javascripts/deleteVoting.js"></script>
            <a href="/">ν¬ν‘ λ©λ΅</a>
          </article>
        <% }) %>
      </article>
    </section>
  </body>
</html>
