<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <%- include("partials/title") %>
  <%- include("partials/authButton") %>
  <%- include("partials/menu") %>
  <ul class="my-voting-list">
    <% for (let i = 0; i < myVotings.length; i++) { %>
    <li id=<%=myVotings[i]._id%>>
      <span><%=myVotings[i].title%></span>
      <span><%=myVotings[i].due_date%></span>
      <span><%=myVotings[i].status%></span>
    </li>
    <% }%>
  </ul>
</body>

</html>