<!DOCTYPE html>
<html>
<head>
  <title>내 투표</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <button id='logout'>로그아웃</button><br><br>
  <a href='/'>투표 목록으로</a>
  <h1>내가 만든 투표 목록</h1>
  <h2>진행중</h2>
  <ul>
    <% openVotingsData.forEach(data => { %>
      <li>
        <a href='/votings/<%= data.voting._id %>'><%= data.voting.title %></a><br>
        <%= data.formattedExpirationDate %>까지<br>
      </li>
    <% }) %>
  </ul>
  <h2>마감</h2>
  <ul>
    <% expiredVotingsData.forEach(data => { %>
      <li>
        <a href='/votings/<%= data.voting._id %>'><%= data.voting.title %></a><br>
      </li>
    <% }) %>
  </ul>
</body>
<script src='/javascripts/clientMyVotings.js'></script>
</html>
