<!DOCTYPE html>
<html>
  <head>
    <%- include("partial/header") %>
    <title>Voting Platform</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detailVoting.css' />
  </head>
  <body>
    <section id="voting" class="voting-information">
      <% myVotings.forEach(myVoting => { %>
        <article class="voting-list">
          <ul>
            <p>투표 주제: <%= myVoting.title %></p>
            <p>투표 종료 시간: <%= myVoting.endDate %></p>
            <form
              name="<%= myVoting._id %>"
              action="/voting/votings/<%= myVoting._id %>"
              method="GET"
            >
              <% myVoting.options.forEach(option => { %>
                <li class="voting-option">
                  <%= option.title %>/
                  투표 수: <%= option.value %>
                </li>
              <% }) %>
              <button type="submit">투표 페이지로</button>
            </form>
            <button id="deleteButton" name="<%= myVoting._id %>">삭제</button>
          </ul>
          <script src="/javascripts/deleteVoting.js"></script>
          <form action="/" method="GET">
            <button type="submit">투표 목록</button>
          </form>
        </article>
      <% }) %>
    </section>
  </body>
</html>
