<div class="body-container">
  <h1 class="bouncy-font">My Votes</h1>
  <div class="votes-container">
    <% if (votes.length > 0) { %>
      <% votes.map((vote, index) => { %>
        <a href="/votings/<%= vote._id %>">
          <div class="vote <%- vote.isInProgress ? 'in-progress' : 'closed' %>">
            <div>
              <h1 class="gamja-font"><%= vote.title %></h1>
              <div class="cherl-font">Due Date : <%= vote.dueDate %></div>
            </div>
            <div>
              <% if (vote.isInProgress) { %>
                <canvas
                  id="myChart<%= ++index %>"
                  width="300"
                  height="150"
                  >
                </canvas>
              <% } else { %>
                <p class="bouncy-font">Closed</p>
              <% } %>
            </div>
          </div>
        </a>
      <% }) %>
    <% } else { %>
      <div class="bouncy-font">No votes..😥</div>
    <% }%>
  </div>
</div>
<script>
  const tempVotes = [];
  window.app = {};

  for (const vote of <%- JSON.stringify(votes) %>) {
    if (vote.isInProgress) {
      tempVotes.push(vote);
    }
  }

  window.app.votes = tempVotes;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
<script src="/javascripts/chart.js"></script>
