<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/newVoting.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap">
    <title><%= title %></title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="new-voting-all-wrap">
      <div class="new-voting-wrap">
        <h1><%= title %></h1>
        <h2>Add new voting!</h2>
        <div class="voting-form-container">
          <form class="voting-form" action="/votings/new" method="post" >
            <div>
              <div class="new-voting-title">
              <lable class="title-lable" for="title"><h3>Title</h3></lable>
              <input class="title-input" type="text" name="title" placeholder="Voting title" >
            </div>
            <div class="expire-date">
              <lable class="expire-date-lable" for="expireDate"><h3>Expire Date</h3></lable>
              <input class="expire-date-input" type="datetime-local" name="expireDate" >
            </div>
            <label class="option-lable" for="options"><h3>Option</h3></label>
            <div class="option-wrap">
              <div class="option-container">
                <input class="option" type="text" name="options" placeholder="New Option" >
                <button class="option-delete-btn">X</button>
              </div>
              <div class="option-container">
                <input class="option" type="text" name="options" placeholder="New Option" >
                <button class="option-delete-btn">X</button>
              </div>
            </div>
            <div class="btn-wrap">
              <button class="option-adding-btn global-button">More Options</button>
              <button class="form-submit-btn global-button" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <% if (newVotingMessages.length > 0) { %>
        <% newVotingMessages.forEach(function(newVotingMessage) { %>
          <div class="new-voting-message"><strong><%= newVotingMessage.newVotingMessage %></strong></div>
        <% }) %>
      <% } %>
      <div class="go-back-to-link">
        <a href="/"><h3>Go Back to Home</h3></a>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/javascripts/addOptionInputBar.js"></script>
  </body>
</html>
