extends layouts/main

block styles
  link(rel='stylesheet', href='/stylesheets/form.css')
  link(rel='stylesheet', href='/stylesheets/voting-form.css')

block content
  .form-container.voting
    form(action=routes.VOTINGS_NEW, method="POST")
      .topic
        label(for="topic")
          i.fas.fa-vote-yea
          span Topic
        input(type="text", id="topic", name="topic", placeholder="오늘 점심 메뉴는?", required=true)
      .options
        label(for="option")
          i.fas.fa-list-ul
          span Options
          span.desc (min 2, max 5)
        input(type="text", id="option", name="option", required=true)
        input(type="text", id="option", name="option", required=true)
      .button-wapper
        .add-option
          i.far.fa-plus-square
          span Add Option
      .expiration
        label(for="expiration")
          i.fas.fa-stopwatch
          span Expiration Time
        .date
          input(type="date", id="expiration", name="expirationDate", required=true)
          input(type="time", id="expiration", name="expirationTime", required=true)
        .button-wapper
          .short-cut
            i.fas.fa-bolt
            span Set to After 1 hour
      input(type="submit", value="Submit Voting")
  if(validationErrors)
    .errors
      h1 ❌ Validation Error
      each error in validationErrors
        .error
          span.name= error.param
          span.msg= error.msg


block scripts
  script(src="/javascripts/create.js")
