extends layout

block content
  setcion
    h1 voting maker
    .voting-form-container
      .form
        form(action='/', method='POST')
          .form-title-label.form-item
            label 투표제목:
          .form-title.form-item
            input(
              type='text'
              name='votingTitle'
              placeholder='투표제목'
              required=true
              maxlength='10'
            )
            p=nameError
          .from-date-label.form-item
            label 날짜선택:
          .form-date.form-item
            input(
              type='date'
              name='expirationDate'
              required=true
            )
          .option-container
            input(
              type='text'
              name='options'
              required=true
            )
            input(
              type='text'
              name='options'
              required=true
            )
          .form-option-button.form-item
            button.add-option-button 옵션추가
          .form-reset-button.form-item
            input(
              type='reset'
              name='reset'
              value='다시작성하기'
            )
          .form-submit-button.form-item
            button(
              class='submitNewVoting'
              type='submit'
            ) 투표추가
