<!DOCTYPE html>
<html>

<head>
  <title>Voting Platform</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/newVoting.css" />
</head>

<body>
  <%- include("partials/header", {user}) %>
  <main>
    <div class="back-button-container">
      <form method="GET" action="/">
        <button class="button" type="submit">BACK TO HOME</button>
      </form>
    </div>
    <form class="new-voting-form" action="/votings/new" method="post">
      <h1>
        <%= title %>
      </h1>
      <div class="message-container">
        <h3>
          <%= message %>
        </h3>
      </div>
      <div class="form-input-material">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder=" " required class="form-control-material" />
        <p class="form-message">
          <%= ...infoMessages.filter(message=> message.includes('title')) %>
        </p>
      </div>
      <div class="form-input-material">
        <label for="expiration-date">Date</label>
        <input type="datetime-local" name="expirationDate" id="expiration-date" required
          class="form-control-material" min=<%= today %>>
        <p class="form-message">
          <%= ...infoMessages.filter(message=> message.includes('expirationDate')) %>
        </p>
      </div>
      <ul class="options-container">
        <li class="option-block form-input-material">
          <label for="option1">Option</label>
          <input type="text" name="options" id="option1" placeholder=" " required class="option form-control-material" />
        </li>
        <li class="option-block form-input-material">
          <label for="option2">Option</label>
          <input type="text" name="options" id="option2" placeholder=" " required class="option form-control-material" />
        </li>
      </ul>
      <p class="option-message">
      </p>
      <div class="option-buttons-container">
        <button type="button" class="btn btn-ghost subtract-button">-</button>
        <button type="button" class="btn btn-ghost add-button">+</button>
      </div>
      <button type="submit" class="btn btn-ghost">SUBMIT</button>
    </form>
  </main>
  <script type="text/javascript" src="/javascripts/newVotingForm.js"></script>
</body>

</html>
