doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/poll.css")
  body
    div(class="nav")
      ul
        if hasLoggedIn
          li
            a(href="/") Main
          li
            a(href="/votings/new") New vote
          li
            a(href="/my-votings") My votes
          li
            a(href="/auth/logout") Logout
        else
          li 
            a(href="/") Main
          li 
            a(href="/signup") Signup
          li 
            a(href="/auth/login") Login
    main
      div
        ul
          li=`Topic: ${poll.topic}`
          li=`Creator: ${poll.creator.email}`
          li=`Expring time: ${timeString[0]} ${timeString[1]}`
      div(class="pollContainer")
        h1=`${poll.topic}`
        h3 choose one of the option
        form(method="post")
          each val in poll.answers
            div
              p
                input(type="radio" name='answer' id=`${val.answer}` value=`${val.answer}`)
                label(for=`${val.answer}`)=`${val.answer}`
          div
            input(type="submit" value="Vote")
            if isCreator
            button(class="deleteButton" data-pollid=`${poll.id}`) Delete
        if displayResults
          div(class="resultBox")
            h2=`Mosted voted: ${displayResults[0].answer}`
            each val in displayResults
              span(class="resultDetail")
                h4=val.answer
                h4=` : ${val.votes}`
      script(src="/javascripts/poll.js")
      