<% include partials/header %>

<div class="poll-container">
  <% if (isOwner) { %>
  <p>투표를 지우고 싶으시다면 클릭 해주세요. -> <i id="delete-poll-button" class="far fa-trash-alt"></i></p>
  <% } %>
  <p>투표 제목: <%= pollDoc.title %>
  </p>
  <p>투표 상태: 현재 <%= pollDoc.isOpen ? '투표 가능' : '투표 불가능' %></p>
  <p>만든이: <%= pollDoc.authorname %></p>
  <p>투표 기간:
    <span id="poll-expiry-datetime"><%= pollDoc.expirydate %></span> 까지</p>
  <div class="poll-options-container">
    <form id="vote-form" name="vote-form" action="" method="POST">
      <% pollDoc.options.forEach(function(option) { %>
      <label for="<%= option.name %>"><%= option.name %></label>
      <% if (isOwner || !pollDoc.isOpen  ) { %>
      <span>득표 수: <%= option.count %></span>
      <% } %>
      <% if (hasVoted < 0 && pollDoc.isOpen) { %>
      <input type="radio" name="optionID" id="<%= option.name %>" value="<%= option._id %>">
      <% } %>
      <br>
      <% }) %>
      <% if (hasVoted < 0 && pollDoc.isOpen ) { %>
      <input id="submit-button" type="submit" value="투표하기">
      <% } %>
      <% if (hasVoted >= 0) { %>
      <p>You have already voted for this poll</p>
      <% } %>
    </form>
  </div>
</div>

<script src='/public/javascripts/poll.js' ></script>
