doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/index.css")
  body
    nav
      ul
        if hasLoggedIn
          li 
            a(href="/") Main
          li 
            a(href="/votings/new") New vote
          li 
            a(href="") My vote
          li 
            a(href="/auth/logout") Logout
        else
          li 
            a(href="/") Main
          li 
            a(href="/signup") Signup
          li 
            a(href="/auth/login") Login
    main
      div
        ul
          li=`Topic: ${poll.topic}`
          li=`Creator: ${poll.creator.email}`
          li=`Expring time: ${timeString[0]} ${timeString[1]}`
      div(class="container")
      h1=`${poll.topic}`
      h3 choose one of the option
      form(method="post")
        each val in poll.answers 
          p
            input(type="radio" name='answer' id=`${val.answer}` value=`${val.answer}`)
            label(for=`${val.answer}`)=`${val.answer}`
        input(type="submit" value="Vote")
        if isCreator
          button(class="deleteButton" data-pollid=`${poll.id}`) Delete
      div
        if displayResults
          h1=`최다표: ${displayResults[0].votes}`
          each val in displayResults
            h1=val.votes
            h1=val.answer

      script(src="/javascripts/poll.js")
      