<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/result.css">
  </head>
  <body>
    <%- include ('partials/header') %>

    <div class="result-container">
      <div class="info-box">
        <div class="info-creater">
          <span>생성자:  <%= creater.nickname %></span>
        </div>
        <div class="info-expired-time">
          <span>종료 시간:  <%= convertedExpiredAt %></span>
        </div>
      </div>
      <div class="option-container">
        <h1><%= title %></h1>
        <% for (let i = 0; i < options.length; i++) { %>
          <div class="option-name" name="<%= options[i].text %>"></div>
          <div class="option-count" name="<%= options[i].count %>"></div>
        <% } %>
      </div>
      <canvas id="vote-chart" width="400" height="400"></canvas>
    </div>

    <%- include ('partials/footer') %>
    <script src="/javascripts/voteResult.js"></script>
  </body>
</html>
