<!DOCTYPE html>
<html>
  <head>
    <%- include("partial/header") %>
    <title>Voting Platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/detailVoting.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <a href="/">투표 목록</a>
    <section class="voting-information container">
      <div class="chart">
        <canvas id="myChart" name="<%= JSON.stringify(voting.options) %>"></canvas>
      </div>
      <script src="/javascripts/votingChart.js"></script>
      <p id="message" class="message-box"></p>
      <article class="voting-list">
        <div class="result">
          <p>최종 결과</p>
          <p>최다표 수: <%= highestValue %></p>
        </div>
        <ul>
          <p>투표 생성자: <%= author %></p>
          <p>투표 종료 시간: <%= voting.endDate %></p>
          <article>
            <% voting.options.forEach(option => { %>
              <label for="<%= option.title %>">
                <% if (highestValue === option.value) { %>
                  <li class="voting-option highest-option">
                      <input type="radio">
                    <%= option.title %>
                    투표 수: <%= option.value %>
                  </li>
                <% } else { %>
                  <li class="voting-option">
                    <input type="radio">
                  <%= option.title %>
                  투표 수: <%= option.value %>
                </li>
                <% } %>
              </label>
            <% }) %>
          </article>
          <% if (isAuthor) { %>
            <button id="deleteButton" name="<%= voting._id %>">삭제</button>
            <script src="/javascripts/deleteVoting.js"></script>
          <% } %>
        </ul>
      </article>
    </section>
  </body>
</html>
