<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
      integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
      crossorigin="anonymous">
    </script>
    <%- include ("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/result.css">
  </head>
  <body>
    <%- include ("partials/header") %>

    <div class="result-container">
      <div class="info-box">
        <div class="info-creater">
          <span>생성자:  <%= creater.nickname %></span>
        </div>
        <div class="info-expired-time">
          <span>종료 시간:  <%= convertedExpiredAt %></span>
        </div>
      </div>
      <div class="result">
        <h1><%= title %></h1>
        <% for (let i = 0; i < options.length; i++) { %>
          <div class="option-text" name="<%= options[i].text %>"></div>
          <div class="option-count" name="<%= options[i].count %>"></div>
        <% } %>
      </div>
      <div class="canvas-box">
        <canvas id="vote-chart" width="200" height="200"></canvas>
      </div>
    </div>

    <%- include ("partials/footer") %>
    <script src="/javascripts/voteResult.js"></script>
  </body>
</html>
