extends layout

block append head
  link(rel="stylesheet" href="/stylesheets/signup.css")
block content
  div.signup-container
    form.signup-form
      label.signup-label Name
        input.input-name(
          name="name"
          type="text"
          required
        )
      label.signup-label Email
        input.input-email(
          name="email"
          type="email"
          autocomplete="username"
          required
        )
      label.signup-label Password
        input.input-password(
          name="password"
          type="password"
          autocomplete="new-password"
          required
        )
      label.signup-label Password Confirm
        input.input-password-confirm(
          name="passwordConfirm"
          type="password"
          autocomplete="new-password"
          required
        )
      div.message-box
      button.signup-button(
        type="submit"
      ) Sign-up
      button.login-link-button(
        type="button"
      ) Log in
  script(src="/javascripts/signup.js")
