extends layout

block append head
  link(
    rel="stylesheet"
    href="/stylesheets/signup.css"
  )
  link(
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  )
block content
  include header
  div.signup-container
    form.signup-form
      label.signup-label Name
        input.input-name(
          name="name"
          type="text"
          required
        )
      label.signup-label Email
        input.input-email(
          name="email"
          type="email"
          autocomplete="username"
          required
        )
      label.signup-label Password
        input.input-password(
          name="password"
          type="password"
          autocomplete="new-password"
          required
        )
      label.signup-label Password Confirm
        input.input-password-confirm(
          name="passwordConfirm"
          type="password"
          autocomplete="new-password"
          required
        )
      div.message-box
      button.signup-button(
        type="submit"
      ) Sign-up
      button.login-link-button(
        type="button"
      ) To log in
  script(src="/javascripts/signup.js")
