extends layout

block content
  h1 signup

  form(action='/signup', method='POST')
    label name:
    input(
      type='text'
      name='name'
      placeholder='Name'
      required=true
      maxlength='10'
    )
    p=nameError

    label e-mail:
    input(
      type='text'
      name='email'
      placeholder='E-mail'
      required=true
      maxlength='25'
    )
    p=emailError

    label PW:
    input(
      type='password'
      name='password'
      placeholder='Password'
      required=true
      pattern='.{12,}'
      maxlength='15'
    )
    p 12-15자

    label PW 확인:
    input(
      type='password'
      name='checkPassword'
      placeholder='Password'
      required=true
      pattern='.{12,}'
      maxlength='15'
    )
    p=passwordError

    input(
      type='reset'
      name='reset'
      value='reset'
    )

    button(
      type='submit'
      name='Button'
    ) 가입
