<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>
  <div>
    <h3>New User</h3>
    <form action="/auth/signup" method="POST">
      <div>
        <div>
          <label for="email">E-mail*</label>
          <div>
            <input id="email" type="email" name="email" value="<%= userInput.email %>" required>
            <% if(errors.email){ %>
              <div>
                <span class="invalid-feedback"><%= errors.email.message %></span>
              </div>
            <% } %>
          </div>
        </div>
        <div>
          <label for="name">Name*</label>
          <div>
            <span>영어 대소문자와 숫자로만 구성되고 네글자 이상이어야 합니다.</span>
          </div>
          <div>
            <input id="name" type="text" name="name" value="<%= userInput.name %>" required>
            <% if(errors.name){ %>
              <div>
                <span class="invalid-feedback"><%= errors.name.message %></span>
              </div>
            <% } %>
          </div>
        </div>
        <div>
          <label for="password">Password*</label>
          <div>
            <span>영어 소문자, 대문자, 특수문자(!, @, #, $, %, ^, &, *)를 모두 포함하고 8자리 이상이어야 합니다.</span>
          </div>
          <div>
            <input id="password" type="text" name="password" value="<%= userInput.password %>" required>
            <% if(errors.password){ %>
              <div>
                <span class="invalid-feedback"><%= errors.password.message %></span>
              </div>
            <% } %>
          </div>
        </div>
        <div>
          <label for="passwordConfirm">Password Confirm*</label>
          <div>
            <input id="passwordConfirm" type="text" name="passwordConfirm" value="<%= userInput.passwordConfirm %>" required>
            <% if(errors.passwordConfirm){ %>
              <div>
                <span class="invalid-feedback"><%= errors.passwordConfirm.message %></span>
              </div>
            <% } %>
          </div>
        </div>
        <div>
          <input type="submit" value="Sign up">
        </div>
      </div>
    </form>
  </div>
</body>
</html>
