extends layouts/main

block content
  h1 #{pageTitle}
  .signup-container
    form.signup-form(action="./auth/signup" method="POST")
      input(type="text" placeholder="userName" name="userName" required=true)
      input(type="email" placeholder="email" name="email" required=true)
      input(type="password1" placeholder="password" name="password1" required=true)
      input(type="password2" placeholder="password" name="password2" required=true)
      button.signup-button Signup
