<!DOCTYPE html>
<html>
  <head>
    <%- include("partial/header") %>
    <title>Voting Platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/detailVoting.css" />
  </head>
  <body>
    <span class="success">투표 생성에 성공했습니다.</span>
    <section id="voting" class="voting-information">
      <article class="voting-list">
        <ul>
          <p>투표 주제: <%= newVoting.title %></p>
          <p>투표 종료 시간: <%= newVoting.endDate %></p>
          <% newVoting.options.forEach(option => { %>
            <li class="voting-option">
              <%= option.title %>/
              투표 수: <%= option.value %>
            </li>
          <% }) %>
          <a href="http://localhost:3000/voting/votings/<%= newVoting._id %>">
            투표 페이지로
          </a>
          <button id="deleteButton" name="<%= newVoting._id %>">삭제</button>
        </ul>
        <script src="/javascripts/deleteVoting.js"></script>
        <a href="http://localhost:3000/">투표 목록</a>
      </article>
    </section>
  </body>
</html>
