<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/head') %>
  </head>
  <body>
    <%- include ('partials/header') %>

    <h1><%= title %></h1>

    <div>
      <div>
        <span>생성자:  <%= creater.nickname %></span>
      </div>
      <div>
        <span>진행 여부:  <%= isProceeding %></span>
      </div>
      <div>
        <span>종료 시간:  <%= convertedExpiredAt %></span>
      </div>
      <div>
        <span>- 선택 사항 -</span>
        <form name="<%= id %>" id="patch-form">
          <% for (let i = 0; i < options.length; i++) { %>
            <div>
              <label><input type="radio" name="voted" value="<%= options[i].text %>">
                <%= options[i].text %>
              </label>
            </div>
          <% } %>
        </form>
      </div>
      <% if (isProceeding && user.nickname) { %>
        <button id="patch-button" name="<%= user.nickname %>">투표</button>
      <% } else if (isProceeding) { %>
        <a href="/login">투표</a>
      <% } %>

      <% if (creater._id.toString() === user._id.toString()) { %>
        <button id="delete-button">삭제</button>
      <% } %>
    </div>

    <%- include ('partials/footer') %>

    <script src="/javascripts/votingAjax.js"></script>
  </body>
</html>
