<div class='vote-view'>
  <form action='/votings/<%= id %>' method='POST'>
    <h2><%= vote.title %></h2>

    <% if (vote.description) { %>
      <p class='desc'><%= vote.description %></p>
    <% } %>

    <p class='creator'>생성자: <%= vote.name %></p>
    <p class='expired'>만료 날짜 및 시간: <%= vote.expired %></p>
    <p class='status'>진행 중 여부: <%= vote.status %></p>
    <p>투표 선택 사항</p>

    <ul class='vote-options'>
      <% for (var i = 0; i < vote.options.length; i++) { %>
        <li>
          <label>
            <input type='radio' name='voteOptions' value=<%= i %> <% if (i === 0) { %> checked <% } %>>
            <%= vote.options[i].text %>
          </label>
        </li>
      <% } %>
    </ul>

    <div class="buttons">
      <input type='submit' value='완료'>
    </div>

  </form>
</div>
