<div class="body-container small-container">
  <div class="vote-detail-creator-info">
    <div>
      <div>이름: <%= vote.creator.name %></div>
      <div>email: <%= vote.creator.email %></div>
      <div>마감일: <%= vote.dueDate %></div>
    </div>
    <% if (isCreator) { %>
      <form action="/votings/<%= vote._id %>?_method=DELETE" method="POST">
        <button type="submit">삭제</button>
      </form>
    <% } %>
  </div>
  <h1 class="vote-title"><%= vote.title %></h1>
  <div>
    <form class="vote-form" action="/votings/<%= vote._id %>" method="POST">
      <div class="vote-button-container">
        <% vote.options.map((option, index) => { %>
          <div class="vote-button">
            <input
              class="<%- (isCreator || isVoted) ? 'hidden' : '' %>"
              type="radio"
              id="<%= index%>"
              name="voted"
              value="<%= option._id %>"
            />
            <label for="<%= index %>"><%= option.name %></label>
            <% if (isCreator) { %>
              <span><%= option.voters.length %></span>
            <% } %>
          </div>
        <% }) %>
      </div>
      <button
        class="<%- (isCreator || isVoted) ? 'hidden' : '' %>"
        type="submit">확인
      </button>
    </form>
  </div>
</div>
