extends layouts/layout

block content
  link(rel="stylesheet/less" type="text/css" href="/stylesheets/voteDetail.less")
  .voteDetail__outter
    .voteDetail__inner
      img.voteDetail__titleImg(src="/images/vote.png" alt="img")
      h1.voteDetail__title #{vote.title}
      .voteDetail__info
        label.voteDetail__dueDate.form-label #{vote.dueDate}
        label.voteDetail__creator.form-label #{vote.creator.name}
      .voteDetail__vote
        each choice in vote.choices
          .voteDetail__choice(choiceId=choice._id onclick="toggleDivs(this)")
            img.voteDetail__choiceImage(src=choice.pictureURL alt="pic")
            .voteDetail__choiceTitle #{choice.choiceTitle}
        button.voteButton.btn.btn-success(voteId=vote._id) 투표
  script(src="/javascripts/voteDetail.js")
