<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/newVote.css' />
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div>
      <ul>
        <li><%= title %></li>
        <li>Creater : <%= creater %></li>
        <li>Expired Date : <%= expired.split('T')[0] %></li>
        <li>Expired Time : <%= expired.split('T')[1].split('.')[0] %></li>
      </ul>
      <form action="/voting/<%= voteId %>?_method=PUT" method="POST" class="voteBox">
        <ul>
          <% options.forEach((option) => { %>
            <li>
              <input type="radio" name="option" value="<%= option._id %>" class="optionRadio"/>
              <span><%= option.title %></span>
            </li>
          <% }) %>
        </ul>
        <% if(!checkDuplicateUser){ %>
          <button type="submit" class="button"> Go vote ! </button>
        <% } %>
        <% if(checkDuplicateUser){ %>
          <button type="button" class="button"> Already voted ! </button>
        <% } %>
        <% if(!checkExistUser) { %>
          <button type="button" name="recommendLogin"> Need Login for Vote</button>
        <% } %>
        <% if(createrId.toString() === checkExistUser.toString()) { %>
          <form action="/voting/<%= voteId %>?_method=DELETE" method="POST" class=deleteBox>
            <button type="submit" name="deleteId" value="<%= voteId %>">Delete Vote</button>
          </form>
        <% } %>
      </form>
    </div>
    <div class="basic alertBox">
      message: <%= message %>
    </div>
  </body>
</html>
