extends layout

block content
  section
    h2 VOTE PAGE
    .vote-wrapper
      .form-box
        p.vote-title #{vote.title}
      .form-box
        ul.vote-info
          li 📅 #{vote.expiration_date.formatted_date}
          li 🖌 #{vote.author.name}
      .form-box.border-none
        ul.option-list
          each option in vote.options
            li.flex-center
              label(for=`${option.title}`) #{option.title}
              input(type="checkbox" id=`${option.title}` name="options" value=`${option.title}`)
      p.validation.hidden
      ul.button-list
        if (user && vote.author.name === user.name)
          li
            button#deleteButton.button.red(type="button") DELETE
          li
            a.button(href=`/votings/${vote._id}/result`) RESULT
        li
          button#submitButton.button(type="submit") SUBMIT
    script(type="module" src="/javascripts/manageVote.js")
