<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Baloo+2:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/49f652a05a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('header') %>
    <div class="vote-container">
      <h1 class="vote-vote-title"><%= vote.title %></h1>
      <%- vote.in_progress ? include('voteInProgress') : include('voteEnds') %>
      <% if (user && user._id.equals(vote.owner._id)) { %>
        <form action="/votings/<%= vote._id %>?_method=DELETE" method="POST">
          <input type="submit" value="삭제" class="deletebox" />
        </form>
      <% } %>
    </div>
  </body>
</html>
