<div class="body-container">
  <div class="vote-detail-creator-info">
    <div>
      <div>이름: <%= vote.creator.name %></div>
      <div>email: <%= vote.creator.email %></div>
      <div>마감일: <%= vote.dueDate %></div>
    </div>
    <% if (isCreator) { %>
      <form action="/votings/<%= vote._id %>?_method=DELETE" method="POST">
        <button type="submit">삭제</button>
      </form>
    <% } %>
  </div>
  <h1 class="vote-title"><%= vote.title %></h1>
  <div>
    <form class="vote-form" action="/votings/<%= vote._id %>" method="POST">
      <div class="vote-button">
        <input class="hidden" type="radio" id="agree" name="voted" value="agree" />
        <label for="agree">
          <button type="button"><%= vote.status.agreeCount %> 👍</button>
        </label>
      </div>
      <div class="vote-button">
        <input class="hidden" type="radio" id="disAgree" name="voted" value="disAgree" />
        <label for="disAgree">
          <button type="button"><%= vote.status.disAgreeCount %> 👎</button>
        </label>
      </div>
    </form>
  </div>
</div>
