<div class="votes-container">
  <div class="votes-subtitle">
    투표 진행중
  </div>
  <% votesInProgress.map(vote => { %>
    <% href = `/votings/${vote._id}` %>
    <a href="<%- href %>">
      <div class="vote-title">
        <%= vote.title %>
      </div>
      <div>
        <div>
          <%= calculateRemainTime(vote) %> | 
          <%= vote.owner.name %>
        </div>
      </div>
      <div class="vote-status-container">
        <div class="vote-status in-progress">
          투표 진행중
        </div>
      </div>
    </a>
  <% }) %>
  <div class="votes-subtitle">
    종료된 투표
  </div>
  <% votesEnds.map(vote => { %>
    <% href = `/votings/${vote._id}` %>
    <a href="<%- href %>">
      <div class="vote-title">
        <%= vote.title %>
      </div>
      <div>
        <div>
          <%= vote.owner.name %>
        </div>
      </div>
      <div class="vote-status-container">
        <div class="vote-status ends">
          투표 종료
        </div>
      </div>
    </a>
  <% }) %>
</div>