extends layout

block content
  div.main=done
    case vote.state
      when 'inProgress'
        div.vote-state-going="진행중"
      when 'done'
        div.vote-state-done="진행완료"
    h1=vote.title
    span.user='만든이 :'+vote.user.email.split('@')[0]
    span.due='마감일시 :'+vote.due.toISOString().split("T")[0]+" ("+vote.due.toTimeString().slice(0, 5)+")"
    hr
    form
      p 당신의 선택은 ... 
      -var options=vote.options
      -var i=0;
        each optionObj in vote.options
          div.option
            input(type='radio' id=i name='option' value=optionObj.option )
            label(for=i++)=optionObj.option
             br
      button(type="button" onclick=loginUser?"fetchVote()":"linkLogin()" )=loginUser?'투표하기':'로그인후 이용'
    script(src='/javascripts/vote.js')


