extends layout

block content
  section
    h2 VOTE PAGE
    .vote-wrapper
      if (vote.expiration_date.date > new Date())
        .form-box
          p.vote-title #{vote.title}
        .form-box
          ul.vote-info
            li 📅 #{vote.expiration_date.formatted_date}
            li 🖌 #{vote.author.name}
        .form-box
          ul.option-list
            each option in vote.options
              li.flex-center
                label(for=`${option.title}`) #{option.title}
                input(type="checkbox" id=`${option.title}` name="options" value=`${option.title}`)
          p.validation.hidden
        ul.button-list
          if (user)
            li
              button#deleteButton.button(type="button") DELETE
            li
              a.button(href="/votings/result") RESULT
          li
            button#submitButton.button(type="submit") SUBMIT
      else
        p result!!
        ul.button-list
          if (user)
            li
              button#deleteButton.button(type="button") DELETE
          li
            a.button(href="/") GO TO MAIN
  script(type="module" src="/javascripts/manageVote.js")
