<div class="body-container small-container">
  <div class="vote-detail-creator-info">
    <div>
      <div>
        <span class="cherl-font">Creator</span>
        <span class="gamja-font"><%= vote.creator?.name || "탈퇴한 회원" %></span>
      </div>
      <div>
        <span class="cherl-font">email: </span>
        <% if (vote.creator?.email) { %>
          <span class="cherl-font"><%= vote.creator.email %></span>
        <% } else { %>
          <sapn class="gamja-font">탈퇴한 회원</sapn>
        <% }%>
      </div>
      <div class="cherl-font">Due Date: <%= vote.dueDate %></div>
    </div>
    <% if (isCreator || user?.admin) { %>
      <form action="/votings/<%= vote._id %>?_method=DELETE" method="POST">
        <button class="bouncy-font submit-button" type="submit">Delete</button>
      </form>
    <% } %>
  </div>
  <h1 class="vote-title gamja-font"><%= vote.title %></h1>
  <div>
    <% if (isCreator || !vote.isInProgress) { %>
      <canvas
        id="myChart1"
        width="400"
        height="180"
      ></canvas>
    <% } else { %>
      <form class="vote-form" action="/votings/<%= vote._id %>" method="POST">
        <div class="vote-button-container">
          <% vote.options.map((option, index) => { %>
            <div class="vote-button">
              <input
                class="<%- (isCreator || isVoted) ? 'hidden' : '' %>"
                type="radio"
                id="<%= index%>"
                name="voted"
                value="<%= option._id %>"
              />
              <label class="option-label gamja-font" for="<%= index %>"><%= option.name %></label>
            </div>
          <% }) %>
        </div>
        <% if (!isVoted) { %>
          <button class="submit-button bouncy-font" type="submit">OK !</button>
        <% } %>
      </form>
    <% } %>
  </div>
</div>
<% if (isCreator || !vote.isInProgress) { %>
  <script>
    window.app = {};
    window.app.vote = <%- JSON.stringify(vote) %>;
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
  <script src="/javascripts/chart.js"></script>
<% } %>
