<!DOCTYPE html>
<html>
  <head>
    <title>MY VOTINGS</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/votings.css' />
  </head>
  <body>
    <div class='navbar-wrapper'>
      <%-include('navbar')%>
    </div>
    <div class='main-container'>
      <div>
        <div class='header'>
          <h1>My Votings</h1>
        </div>
        <ul class='voting-list'>
          <%if(votings){
            for(var i = 0; i < votings.length; i++){
              var progressClass;
              var endYearMonthDate;
              var createTime;
              function toYYYYMMDD(time){
                var formedTime = new Date(time);
                return timeString = [formedTime.getFullYear(), formedTime.getMonth() + 1, formedTime.getDate()].join('/');
              }
              endYearMonthDate = toYYYYMMDD(votings[i].end_at);
              createTime = toYYYYMMDD(votings[i].created_at);
              if(votings[i].isOnProgress){
                progressClass = 'coloredOn';
              }else{
                progressClass = 'coloredOff';
              }%>
              <li class='voting <%=progressClass%>'>
                <a href='/votings/<%=votings[i]._id %>'>
                  <p>
                    <span>EXPIRATION DATE</span>
                    <span><%= endYearMonthDate %></span>
                  </p>
                  <p class='type'>VOTING</p>
                    <h2><%= votings[i].title %></h2>
                    <span><%= votings[i].descritpion %></span>
                  <p>
                    <span>CREATED AT</span>
                    <span><%= createTime %></span>
                  </p>
                </a>
              </li>
            <%}}%>
          </ul>
        </div>
    </div>
  </body>
</html>
