<%- include("partials/header") %>

<div class="voting-detail-wrapper">
  <div class="voting-detail-bar">
    <div class="voting-bar-title">
      <h1>About Voting</h1>
    </div>

    <img class="voting-bar-image" src="/images/voting-bar.jpeg" />
    <hr class="main-bar-line">

    <div class="main-content-buttons">
      <a href="/">Return</a>
    </div>
  </div>

  <div class="voting-detail-content">
    <div class="voting-detail-board">
      <div class="voting-detail-board-mini">
        <% if (typeof voting !== "undefined") { %>
          <div class="voting-detail-header">
            <div class="voting-detail-title" name="<%= voting.title %>">
              <%= voting.title %>
            </div>
          </div>

          <% if (!voting.isCurrent || voting.proponent.toString() === user?.id) { %>
            <%= voting.formatedExpiration %>
            <canvas class="voting-chart" id="voting-chart" width="350" height="350"></canvas>
          <% } %>
  
          <% if (voting.isCurrent) { %>
            <form class="voting-form">
              <div>
                <% voting.options.forEach((content) => { %>
                  <div>
                    <input type="radio" name="voting-option" value="<%= content.option %>">
                    <lavel><%= content.option %></lavel>
                  </div>
                <% }) %>
              </div>
              <div class="vote-message"></div>
              <input 
                class="vote-form-button" 
                type="submit" 
                value="Vote"  
              />
            </form>
          <% } %>
        <% } %>
        <% if (voting.proponent.toString() === user?.id) { %>
          <form class="voting-delete-form">
            <input class="voting-delete-button" type="submit" value="Delete" />
          </form>
        <% } %> 
      </div>
      <div class="options" data-options=<%- JSON.stringify(voting.options) %>></div>
      <a href="/">Return</a>
    </div>
  </div>
</div>

<script src="/javascripts/put.js"></script>

<% if (!voting.isCurrent || voting.proponent.toString() === user?.id) { %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="/javascripts/chart.js"></script>
  <script src="/javascripts/delete.js"></script>
<% } %>
