<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/votings.css" />
  <title>votings</title>
</head>
<body>
  <% if (isOnVote === "true") { %>
    <div class="onVote-wrapper">
      <form name="<%= votingId %>" class="outer-form">
        <div class="info-wrapper">
          <h3 class="title">
            <%= title %>
          </h3>
          <div class="creator">
            <i class="fa fa-id-card"> 작성자: </i>
            <%= creator %>
          </div>
          <div class="endDate">
            <i class="fa fa-table"> 마감일: </i>
            <%=
            endDate.getFullYear() + "년 " +
            (endDate.getMonth() + 1) + "월" +
            endDate.getDate() + "일"
            %>
          </div>
        </div>
        <div class="option-list-wrapper">
          <div class="check-box-wrapper">
            <div class="option-list">
              <i class="fa fa-list"></i>
              투표목록
            </div>
            <% for (let i = 0; i < option.length; i++) { %>
              <div class="radio-box">
                <label for="option"><%= option[i].optionTitle %></label>
                <input
                  type="radio"
                  id="option"
                  name="option"
                  value="<%= option[i].optionTitle %>"
                  class="radio"
                />
                <% if (isValidateUser) { %>
                  <span class="result-value">
                    <%= option[i].votedUsers.length %>
                  </span>
                <% } %>
              </div class="radio-box">
            <% } %>
          </div>
        </div>
        <div class="btn-wrapper">
          <button type="submit" class="submit-btn">투표하기</button>
          <button class="home-btn">투표목록</button>
          <% if (isValidateUser) { %>
            <div>
              <button class="delete-btn">삭제</button>
            </div>
          <% } %>
        </div>
      </form>
    </div>
    <Script src="/javascripts/votings.js"></Script>
    <% if (isValidateUser) { %>
      <Script src="/javascripts/deleteVote.js"></Script>
    <% } %>
  <% } else { %>
    <main name="<%= votingId %>">
      <canvas id="myChart" optionTitle="<%= JSON.stringify(option) %>"></canvas>
      <div class="button-wrapper">
        <a href="/">
          <div class="vote-list-wrapper">
            <button>투표목록</button>
          </div>
        </a>
        <% if (isValidateUser) { %>
          <div class="delete-btn-wrapper">
            <button class="delete-btn">삭제</button>
          </div>
        <% } %>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/javascripts/result.js"></script>
  <% } %>
</body>
</html>
