extends layout

block content
  a(href='/votings/new') 투표만들기
  <br/>
  a(href='/') 투표목록보기

  h1 VOTING Details
      h2= voting.votingTitle
      p= voting.userName
      div= voting.expirationDate
      div
      each option in voting.options
        label= option.option
        input(
          type='radio'
          name='option'
        )
