<!DOCTYPE html>
<html>
  <head>
    <% include ./partial/head %>
    <link rel='stylesheet' href='/stylesheets/voting.css' />
  </head>
  <body>
    <% include ./partial/header %>
    <div class="voting-container">
      <div class="voting-top">
        <div class="goback-button-wrap">
          <a href="/"><button class="gobackbtn">목록으로</button></a>
        </div>
        <div class="delete-button-wrap">
          <% if (isCreator) { %>
            <button class="delete-voting" data-id="<%= voting._id %>">삭제하기</button>
          <% } %>
        </div>
        <div class="voting-title">
          <h1><%= voting.title %></h1>
        </div>
      </div>
      <div class="voting-info">
        <div class="voting-creator">
          <span>Created by <%= voting.created_by.name %></span>
        </div>
        <div class="voting-status">
            <% if (voting.status === 'INPROGRESS') { %>
              <i class="fas fa-play">In Progress</i>
            <% } else { %>
              <i class="fas fa-stop">Expired</i>
            <% } %>
        </div>
        <div class="voting-description">
          <span><%= voting.description %></span>
        </div>
        <div class="voting-date-info">
          <div class="voting-created-date">
            <span>
              <i class="fas fa-vote-yea"></i>
              Created : <%= voting.fomattedCreatedDate %>
            </span>
          </div>
          <div class="voting-expired-date">
            <span>
              <i class="fas fa-times"></i>
              End : <%= voting.fomattedExpiredDate %>
            </span>
          </div>
        </div>
        <div class="selection-container">
          <div class="selection-title">
            <h2>Selection</h2>
          </div>
          <form action="/votings/<%= voting._id %>", method="POST">
            <% voting.selections.forEach(function(selection){ %>
              <div class="selection-wrap ">
                <input type="radio" class="vote-selection" name="selection" value="<%= selection._id %>" />
                <div class="selection-name"><%= selection.name %></div>
              </div>
            <% }) %>
            <div class="vote-button-wrap">
              <% if (hasVoted) { %>
                제출이 완료되었습니다.
                <input type="submit" class="vote-submit-button submit-disabled" disabled></input>
              <% } else if (voting.status === 'EXPIRED'){ %>
                만료된 투표입니다.
                <input type="submit" class="vote-submit-button submit-disabled" disabled></input>
              <% } else { %>
                투표하기
                <input type="submit" class="vote-submit-button"></input>
              <% } %>
            </div>
          </form>
        </div>
        <hr>
        <div class="result-container">
          <div class="result-title">
            <h2>Result</h2>
          </div>
          <div class="result-voting" data-totalVoter="<%= totalVoter %>">
            <% voting.selections.forEach(function(selection){ %>
              <% if (!winner) { %>
                <div class="result-wrap">
              <% } else if ((voting.status === 'EXPIRED' || isCreator) && selection._id.toString() === winner._id.toString()) { %>
                <div class="result-wrap winner">
              <% } else { %>
                <div class="result-wrap ">
              <% } %>
                <% if (voting.status === 'EXPIRED' || isCreator) { %>
                  <div class="vote-result-name">
                    <%= selection.name %>
                  </div>
                  <div class="vote-result" data-voter="<%= selection.voter.length %>">
                    <% if (winner) { %>
                    <div class="vote-result-bar"></div>
                    <% } %>
                  </div>
                  <div class="vote-result-number">
                    <span><%= selection.voter.length %> 표</span>
                  </div>
                <% } %>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/voting.js" ></script>
  </body>
</html>
