<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/votingDetail.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/google-palette/1.1.0/palette.js" integrity="sha512-C8lBe+d5Peg8kU+0fyU+JfoDIf0kP1rQBuPwRSBNHqqvqaPu+rkjlY0zPPAqdJOLSFlVI+Wku32S7La7eFhvlA==" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <div class="">
    <div class="">
      <%= voting.title %>
    </div>
    <div class="">
      <div class="">
        <%= voting.expiration_date %>
      </div>
      <div class="">
        <%= voting.author.name %>
      </div>
    </div>
    <div class="">
      <form>
        <% for (let i = 0; i < voting.options.length; i++) { %>
          <input
            type="radio"
            class=""
            name="option"
            value="<%= voting.options[i].optionTitle %>"
            data-count="<%= voting.options[i].count %>"
          >
            <%= voting.options[i].optionTitle %>
          </input>
        <% } %>
        <% if (voting.status === "inprogress") { %>
          <label>투표하기
            <input type="submit" class="form-submit-button" data-votingid="<%= voting._id %>">
          </label>
        <% } %>
      </form>
    </div>
    <% if (voting.status === "expired" || (locals.user && locals.user._id.toString() === voting.author._id.toString())) { %>
      <div class="chart-empty-alert"></div>
      <div class="chart-wrapper">
        <canvas id="myChart"></canvas>
      </div>
    <% } %>
    <% if (locals.user && locals.user._id.toString() === voting.author._id.toString()) { %>
      <button class="delete-button" data-votingid="<%= voting._id %>">
        삭제하기
      </button>
    <% } %>
    <div class="">
      <a href="/" class="">
        목록으로 돌아가기
      </a>
    </div>
  </div>
</body>
<script src="/javascripts/fetch.js" type="text/javascript"></script>
<script src="/javascripts/chart.js" type="text/javascript"></script>
</html>
