extends ./layout.pug

block title
  title Voting
  link(rel='stylesheet', href='/stylesheets/voting.css')
block content
  div(class='wrap-vote-data')
    h1(class='title')= voteData.title
    div(class='vote-data')
      h2= voteData.author.email
      h2= due
      h2= `만료 여부 ${isExpired}`
      div
        form(
          id='vote-form'
          name= `${voteData._id}`
        )
          div(id='voter-id-in-db' name= `${voterId}`)
            each selection,index in voteData.selections
              label(
                htmlFor=`selection${index}`
              )
                input(
                  type='radio'
                  class='checkbox'
                  id=`selection${index}`
                  name='selections'
                  value= voteData.selections[index]._id
                  checked=false
                  disabled= !isLoggedIn ? true : false
                )
                h3= selection.subTitle
            if isLoggedIn
              input(
                id= voteData
                type='submit'
                value='Submit!'
              )
            script(src='/javascripts/updateVoteSelection.js')

    if !isLoggedIn
      a(href="/login")
        button Go to login for voting
    else if isLoggedIn && isAuthorVisited
      div(class='buttons')
        form(
          id='delete-form'
          name= `${voteData._id}`
        )
          button(
            type='submit'
            class='delete-vote-button'
            ) Delete this vote!
        a(href=`/votings/${voteData._id}/result`)
          button(class='vote-result-button') Voting Result!
        a(href="/")
          button(class='go-home-button') Go Home!
      script(src='/javascripts/deleteVote.js')
    else
        a(href="/")
          button(class='go-home-button') Go Home!
