<!DOCTYPE html>
<html>
  <head>
    <title>VOTING</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/voting.css' />
  </head>
  <body>
    <div class='navbar-wrapper'>
      <%-include('navbar') %>
    </div>
    <div class='main-container'>
      <div class='centered-container'>
        <h1>VOTING</h1>
        <div class='<%= progressClass %>'>
          <%
            var voteCount = 0;
            var voteArr = [];
            var voteTextArr = [];
            var progressClass;
            var progressDescription;
            var items = voting.items;

            function toYYYYMMDD(time){
              var formedTime = new Date(time);
              return timeString = [formedTime.getFullYear(), formedTime.getMonth() + 1, formedTime.getDate()].join('/');
            }

            endYearMonthDate = toYYYYMMDD(voting.end_at);
            createTime = toYYYYMMDD(voting.created_at);

            if(voting.isOnProgress){
              progressClass = 'coloredOn';
              progressDescription = 'ON';
            }else{
              progressClass = 'coloredOff';
              progressDescription = 'OFF';
            }
          %>
          <span class='<%= progressClass %>'>~ <%= endYearMonthDate %></span>
          <form action='/votings/<%= voting_id %>/update' method='POST' id='voting-form'>
            <ul>
              <% for(var i = 0; i < items.length; i++){ %>
                <li class='item'>
                  <% voteTextArr.push(items[i].text); %>
                  <% voteArr.push(items[i].voters.length); %>
                  <label for='<%= items[i]._id %>' >
                    <h2><%= items[i].text %></h2>
                  </label>
                  <%if(voting.isOnProgress && !isVoted){%>
                    <input type='radio' name='option' id='<%= items[i]._id %>' value='<%= items[i]._id %>'>
                  <%}%>
                  <div class='result-wrapper'>
                    <span class='item-vote-count-result'><%= items[i].voters.length %></span>
                  </div>
                  <%voteCount += items[i].voters.length;%>
                </li>
              <%}%>
            </ul>
            <%if(!isVoted){%>
              <input id='submit-my-vote-button' type='submit' form='voting-form'>
            <%}%>
            <input id='delete-voting-button' type='button' value='Delete'>
          </form>
          <ul class=result-list>
            <%if(isCreator || !voting.isOnProgress){%>
              <%for(var i = 0; i < voteArr.length; i++){%>
                <li><%= voteTextArr[i] %>: <%= voteArr[i] %></li>
              <%}%>
              <li>Total: <%= voteCount %></li>
            <%}%>
          </ul>
          </div><!--votinglist-->
        </div><!--centered-continer-->
      </div><!--main-section-->
    <script src='/javascripts/voting.js'></script>
  </body>
</html>
