<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <%= votingData.title %><br>
  <%= votingData.writer %><br>
  <%= votingData.description %><br>
  <%= votingData.expiration_date %><br>
  <%= votingData.progress %><br>
  <select>
    <option value="선택">선택</option>
    <% for(let i=0; i < votingData.select_option.length; i++) { %>
    <option class="option" value="<%= votingData.select_option[i] %>"><%= votingData.select_option[i] %></option>
    <% } %>
  </select>
  <a class="vote" href="/votings/<%= votingData.id %>">투표하기</a>
  <% if(deleteBtn) { %>
  <a class="deleteBtn" href="/votings/<%= votingData.id %>"><%= deleteBtn %></a>
  <% } %>
  <% if(result) { %>
    <% for(let key in result) { %>
      <div><%= key %> -> <%= result[key]%></div>
    <% } %>
  <% } %>
  <a href="/">투표 목록으로 돌아가기</a>

  <script src="/javascripts/votingPage.js"></script>
</body>

</html>
