<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/chart.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.1/chart.min.js"></script>
  <title><%= title %></title>
</head>
  <body>
    <div class="voting-all-wrap">
      <% if (isAuthor || !votingOptionFormat.isProceeding) { %>
        <div class="chart-container">
          <canvas id="myChart"></canvas>
        </div>
      <% } %>
      <h2>title: <%= votingDetailFormat.title %></h2>
      <h3>Author: <%= votingDetailFormat.author %></h3>
      <h4>Contact: <%= votingDetailFormat.contact %></h4>
      <form class="option-form">
        <% votingOptionFormat.forEach(function(votingOption) { %>
          <div>
            <label for="<%= votingOption._id %>"><%= votingOption.title %></label>
            <input
              type="radio"
              class="option-radio"
              id="<%= votingOption._id %>"
              name="option"
              value="<%= votingOption.title %>"
              data-value="<%= votingOption.voters.length %>"
            >
          </div>
        <% }) %>
        <% if (isAuthor) { %>
          <button class="voting-delete-btn"><p>Delete this Voting</p></button>
        <% } %>
      </form>
      <% if (votingDetailFormat.isProceeding) { %>
        <div class="voting-info">
          <h3>This voting will expire at <%= votingDetailFormat.expireDate %></h3>
          <input type=submit class="voting-submit-btn" value="Submit" >
        </div>
      <% } else if (isAuthor || !votingDetailFormat.isProceeding) { %>
        <div class="voting-info">
          <h3>Voting Finished</h3>
          <% if (votingDetailFormat.winner.length > 0) { %>
            <h3>Winner</h3>
            <% votingDetailFormat.winner.forEach(function(user) { %>
              <%= user %>
            <% }) %>
          <% } else { %>
            No Winner!
          <% }%>
        </div>
      <% } %>
      <button><a href="/">Go home</a></button>
    </div>
    <script src="/javascripts/fetching.js"></script>
    <script src="/javascripts/deleteVoting.js"></script>
  </body>
</html>
