<!DOCTYPE html>
<html>
  <%- include('partial/head') -%>
  <body>
    <%- include('partial/header') -%>
    <%
      const { id, subject, options, creator, created_at, expirated } = vote;
      let isDone = false;
      let isCreator = false;

      if (user) {
        isDone = user.doneVotes.indexOf(id) > -1;
        isCreator = creator.id === user.id;
      }
    %>

    <div class="container">
      <section class="voting-detail">
        <header class="box">
          <h2><%= subject %></h2>
          <ul class="vote-info">
            <li>Creator: <%= creator.username %></li>
            <li>Created at: <%= dateTransformer(created_at) %></li>
            <li>Expirated at: <%= dateTransformer(expirated) %></li>
          </ul>
        </header>
        <% if (isCreator) { %>
          <div class="buttons-wrap">
            <a href="/votings/<%= id %>/result" class="button">결과 보기</a>
            <button class="button danger confirm" id="delete-vote" data-vote-Id="<%= id %>">삭제하기</button>
          </div>
        <% } %>
        <form action="/votings/<%= id %>" method="POST">
          <fieldset class="box">
            <legend class="only_sound"><%= subject %></legend>
            <% for (let i = 0; i < options.length; i++) { %>
              <p>
                <input id="option<%= i %>" type="radio" value="<%= options[i].value %>" name="option" <% if (isDone) { %>disabled<% } %>/>
                <label for="option<%= i %>"><%= options[i].value %></label>
              </p>
            <% } %>
          </fieldset>
          
          <div class="buttons-wrap">
            <% if (user) { %>
              <% if (isDone) { %>
                <input type="submit" class="button disable" value="투표완료" disabled="true"/>
              <% } else { %>
                <input type="submit" class="button" value="제출하기" />
              <% } %>
            <% } else { %>
              <a href="/login?redirect_id=<%= id %>" class="button">제출하기</a>
            <% } %>
            <a href="/" class="button">돌아가기</a>
          </div>
        </form>
      </section>
    </div>
    <%- include('partial/scripts') -%>
  </body>
</html>
