<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <% include ./partials/nav %>
    <div class="container">
      <div class="vote-box-wrap vote-detail-box top">
        <div class="btn-box">
          <a href="/" class="btn-more">List</a>
          <% if (isAuthorizedUser) { %>
            <button type="button" class="btn-del btn-del-vote">Delete</button>
          <% } %>
        </div>
        <h2 class="vote-title">
          <% var isExpired = (new Date() - new Date(vote.expired_at) > 0); %>
          <span class="mark-vote <%= isExpired ? 'inactive' : 'active' %>">
            <%= isExpired ? 'OFF' : 'ON' %>
          </span>
          <%= vote.title %>
        </h2>
        <ul class="vote-detail-list">
          <li><%= vote.user_id.name %></li>
          <li><%= vote.converted_date %></li>
        </ul>
        <form class="voting-form">
          <ul class="options-box-list">
            <% for (var i = 0; i < vote.options.length; i++) { %>
              <li>
                <label class="option-label" data-vote-id="<%= vote._id %>">
                  <input type="radio" name="option" class="option-radio" data-option-id="<%= vote.options[i]._id %>" />
                  <span class="option-txt"><%= vote.options[i].title %></span>
                </label>
              </li>
            <% } %>
          </ul>
          <% if (!isExpired) { %>
            <button type="submit" class="btn-main">Vote!</button>
          <% } %>
        </form>
      </div>
      <% if (isAuthorizedUser || isExpired) { %>
        <div class="vote-box-wrap btm">
          <h3 class="legend-title">Result</h3>
          <div class="result-box">
            <ul class="graph-box">
              <% for (var i = 0; i < sortedOptions.length; i++) { %>
                <li class="graph-bar">
                  <div class="static-info">
                    <span class="title"><%= sortedOptions[i].title %></span>
                    <span class="score"><%= sortedOptions[i].voted_user.length %> / <%= allVoteCount %></span>
                  </div>
                  <div class="color-bar" data-vote-count="<%= sortedOptions[i].voted_user.length %>"></div>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      <% } %>
    </div>

    <script>
      var allVoteCount = Number('<%= allVoteCount %>');

      $colorBar = document.querySelectorAll('.color-bar');
      $colorBar.forEach(function (bar) {
        var voteCount = Number(bar.dataset.voteCount);
        var percentage = Math.floor(voteCount / allVoteCount * 100) || 0;
        bar.classList.add('percent-' + percentage);
      });

      function sendVoteApi (voteId, optionId) {
        return fetch('/votings/vote', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ voteId, optionId })
        })
        .then(function (res) {
          return res.json();
        });
      }

      function delVoteApi (path) {
        return fetch(path, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(function (res) {
          return res.json();
        });
      }

      var $votingForm = document.querySelector('.voting-form');

      $votingForm.addEventListener('submit', function (e) {
        e.preventDefault();

        if (!$votingForm.option.value) {
          alert('Please vote before submit!');
        }

        var $checkedRadio = document.querySelector('input[type="radio"]:checked');
        var $checkedLabel = $checkedRadio.parentElement;
        var optionId = $checkedRadio.dataset.optionId;
        var voteId = $checkedLabel.dataset.voteId;

        sendVoteApi(voteId, optionId)
          .then(function (res) {
            if (res.fail) {
              alert(res.fail);
              location.href = '/';
            }
            if (res.success) {
              alert(res.success);
              location.reload();
            }
          })
          .catch(function (err) {
            console.error(err);
          });
      });

      var $btnDelVote = document.querySelector('.btn-del-vote');

      if ($btnDelVote) {
        $btnDelVote.addEventListener('click', function () {
          delVoteApi(location.pathname)
            .then(function (res) {
              if (res.fail) {
                alert(res.fail);
                location.href = '/';
              }
              if (res.success) {
                alert(res.success);
              }
              location.href = '/';
            })
            .catch(function (err) {
              console.error(err);
            })
        });
      }
    </script>
  </body>
</html>
