<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>voting</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/voting.css' />
</head>

<body>
  <div class='container'>
    <%- include('partials/header') %>

    <main>
      <div>
        <ul>
          <li>제목: <%= voting.title %></li>
          <li>작성자: <%= voting.author %></li>
          <li>만료 날짜: <%= new Date(voting.qendDate) %></li>
          <% if (status) { %>
          <li>진행 여부: 진행중</li>
          <% } else { %>
          <li>진행 여부: 기간 만료</li>
          <% } %>
        </ul>
      </div>

      <% if (status) { %>
      <div>
        <form action=<%= `/votings/${voting._id}` %> method='POST'>
          <% voting.items.map(item =>{ %>
          <div>
            <span><%= item.name %></span>
            <input type='radio' name='itemId' value='<%= item._id %>'>
          </div>
          <% }) %>
          <div>
            <input type='submit' value='투표하기'>
          </div>
        </form>
      </div>
      <% } %>

      <% if (!status || isAuthor) { %>
      <div>
        <ul>
          <% voting.items.forEach(item => { %>
          <li><%= `${item.name}: ${item.count}표` %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>

      <div>
        <% if (isAuthor) { %>
        <button class='deleteVoting' data-id='<%= voting._id %>'>투표 삭제</button>
        <% } %>
        <button><a href='/'>목록 보기</a></button>
      </div>
    </main>
  </div>
  <script src='/javascripts/voting.js'></script>
</body>

</html>
