<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <div class="main-container">
    <% for (let i = 0; i < votes.length; i++) { %>
      <div class="vote-container">
        <div class="vote-column">
          <h2 class="vote-title"><%= votes[i].title %></h2>
          <a href="/votings/<%= votes[i]._id %>">
            <% if (expired[i]) { %>
              <button class="show-result-button">결과보기</button>
            <% } else { %>
              <button class="show-vote-button">투표하기</button>
            <% } %>
          </a>
        </div>
        <div class="vote-details">
          <span class="vote-date">
            생성날짜
            <span class="vote-createdAt date-detail"><%= createdDate[i] %></span>
          </span>
          <span class="vote-date">
            만료날짜
            <span class="vote-expirationDate date-detail"><%= expirationDate[i] %></span>
          </span>
        </div>
      </div>
    <% } %>
  </div>
</body>

</html>