extends layouts/main
include mixins/author
include mixins/votingState

block styles
  link(rel='stylesheet', href='/stylesheets/voting-detail.css')
  link(rel='stylesheet', href='/stylesheets/partials/voting-state.css')
  link(rel='stylesheet', href='/stylesheets/partials/author.css')

block content
  if hasAdminPermission
    form(class="admin-area")
      input.delete-voting(type="submit", value="Delete")
  .voting-container
    .state
      +votingState(voting.isOngoing)
    .voting-detail.author
      +author(voting.author)
    .voting-detail.topic
      i.fas.fa-vote-yea
      span Topic
      .content= voting.topic
    .voting-detail.expiration
      i.fas.fa-stopwatch
      span Expiration Time
      .content= voting.expiration
    .voting-detail.createdAt
      i.fas.fa-stopwatch
      span Created At
      .content= voting.createdAt
    .voting-detail.options
      i.fas.fa-list-ul
      span Options
      form(class="vote-form")
        each option in voting.options
          .content
            .option= option.content
            .option-count
              if hasAdminPermission || !voting.isOngoing
                i.fas.fa-user  #{option.count}
              if !hasParticipated && voting.isOngoing
                input(type="radio", id="option", name="option" value=option._id required)
        if !hasParticipated && voting.isOngoing
          input(type="submit", value="Submit Voting")

block scripts
  script(src="/javascripts/update.js")
  script(src="/javascripts/delete.js")
