<%
  const { id, subject, options, creator, expirated } = vote;
%>
<!DOCTYPE html>
<html>
  <%- include('partial/head') -%>
  <body>
    <%- include('partial/header') -%>
    <div class="container">
      <section class="voting-detail">
        <h2><%= subject %></h2>
        <p>Made by <%= creator.username %></p>
        <form action="/votings/<%= id %>" method="POST">
          <fieldset class="box">
            <legend class="only_sound"><%= subject %></legend>
            <% for (let i = 0; i < options.length; i++) { %>
              <p>
                <input id="option<%= i %>" type="radio" value="<%= options[i].value %>" name="option" />
                <label for="option<%= i %>"><%= options[i].value %></label>
              </p>
            <% } %>
          </fieldset>
          <div class="buttons-wrap">
            <input type="submit" class="button" value="제출하기" />
            <a href="/" class="button">돌아가기</a>
          </div>
        </form>
      </section>
    </div>
    <%- include('partial/scripts') -%>
  </body>
</html>
