extends layout

block append head
  link(rel="stylesheet" href="/stylesheets/voting.css")
  script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
block content
  include header
  div.voting-container
    if currentState === "Expired"
      div.is-expired.expired-mark= currentState
    else
      div.is-expired.in-progress-mark= currentState
    h2.voting-title= voting.title
    div.voting-info-box
      div.voting-publisher
        | Published by
        |  #{voting.publisher.name}
      div.expirationTime
        | Expiration at
        |  #{expirationTime}
    div.voting-description= voting.description
    div.option-box
      form.voting-form(
        action="/votings/" + voting._id
        method="post"
      )
        h3.select-message Select!
        if voting.isAbleSelectMultipleOptions
          each count, option in options
            label.option-label
              input.option-checkbox(
                type="checkbox"
                name="option"
                value=option
                disabled=(
                  currentState === "Expired"
                  || isAlreadyVoted
                )
              )
              p.option-title= option
        else
          each count, option in options
            label.option-label
              input.option-radio(
                type="radio"
                name="option"
                value=option
                disabled=(
                  currentState === "Expired"
                  || isAlreadyVoted
                )
              )
              p.option-title= option
        div.message-box
        button.submit-button(type="submit") VOTE
        if currentState === "Expired"
          div.filter
          div.can-not-vote-message-box This voting is expired.
        else if isAlreadyVoted
          div.filter
          div.can-not-vote-message-box You voted already.
    button.index-link-button(type="button") << Voting List
    if isPublisher
      button.delete-voting-button(type="button") Delete
  if currentState === "Expired" || isPublisher
    div.chart-box
      h2.chart-title Result
      canvas.chart(width="560" height="400")

  script var options = !{JSON.stringify(options)}
  script(src="/javascripts/voting.js")
