<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/votings.css" />
  </head>
  <body>
    <%- include("partials/signContents") %>
    <a href="/">투표 목록</a>
    <% if (isCreator) { %>
      <button id="delete-vote">투표 삭제</button>
    <% } %>
    <h1 id="vote-title" data-vote-id="<%- vote.id %>">
      <%- vote.title %>
    </h1>
    <h2 id="vote-creator" data-creator-id="<%- creator.id %>">
      <%- creator.name %>
    </h2>
    <% if (vote.isExpired) { %>
      <%- include("partials/voteResult") %>
    <% } else { %>
      <%- include("partials/voteProgress") %>
    <% } %>
  </body>
</html>