<!DOCTYPE html>
  <head>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/mainpage.css' />
    <link rel='stylesheet' href='/stylesheets/votingsPage.css' />
    <script src='https://use.fontawesome.com/releases/v5.2.0/js/all.js'></script>
    <title>VC-Vote-platform</title>
  </head>
  <body>
    <div class='header'>
      <div class='header-logo'>
        <img src='https://raw.githubusercontent.com/Kyounghwan01/Hyperledger-building-security-app/master/assets/icLogo.png'/>
        <div class='title'><span><a href='/'><%= 'VC-Voting' %></a></span></div>
      </div>
      <div class='header-info'>
        <div>
          <i class='fas fa-user-alt'></i>
          <span><%= ': ' + name %></span>
        </div>
        <div class='header-slider'>
          <input id='hamburger' type='checkbox' /><label for='hamburger'>&equiv;</label>
          <nav>
            <div>메뉴</div>
            <ul>
              <li><a href='/votings/new'>투표 생성</a></li>
              <li><a href='/votings'>내 투표</a></li>
              <li><a href='/logout'>로그아웃</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class='main-container'>
      <div class='list-container'><span>V O T E</span></div>
      <div class='vote-container'>
        <ul>
          <div class='vote-list'>
            <li class='title'><span><%= voteMap.title %></span></li>
            <li class='description-context'>
              <span><%= 'creator : ' %></span>
              <span class='description'><%= voteMap.username %></span>
            </li>
            <li class='description-context'>
              <span class='description'><%= voteMap.date %></span>
            </li>
            <% if(voteMap.proceeding){ %>
              <li class='context proceeding'><span><%= '진행중' %></span></li>
              <% if(!isVoted){ %>
                <div class='already-vote'><span>이미 투표했습니다</span></div>
              <% } %>
            <% } else { %>
              <li class='context proceeding-end'><span><%= '마감' %></span></li>
              <div class='procedding-end-result'><span><%= '결과' %></span>
                <% for(let i =0; i<winner.name.length; i++){%>
                  <li class='description-context'>
                    <p><%= winner.name[i] %></p>
                    <p><%= ' : ' %></p>
                    <p><%= winner.count + ' Votes'%></p>
                  </li>
                <% } %>
              </div>
            <% } %>
          </div>
        </ul>
        <% if(voteMap.proceeding){ %>
          <div class='next-container'>
            <ul>
              <% if(isVoted){ %>
                <div class='option-title'><span>항목</span></div>
                <form action='/votings/<%= voteMap._id %>' method='POST'>
                  <% for(let i =0; i<voteMap.options.length; i++){%>
                    <div class='option-radio'>
                      <input type='radio' name='optionsChoice' value='<%= voteMap.options[i]._id %>'><span><%= ' ' + voteMap.options[i].name %></span><br>
                    </div>
                  <% } %>
                  <div class='button-center'>
                    <input class='submit-button' type = 'submit' value = 'vote'/>
                  </div>
                </form>
              <% } %>
              <% if(name === voteMap.username && voteMap.proceeding){ %>
                <div class='current-container'><span>현재 투표 상황</span></div>
                <% for(let i =0; i<voteMap.options.length; i++){%>
                  <div class='current-vote'>
                    <span><%= voteMap.options[i].name + ' : '%></span>
                    <span><%= voteMap.options[i].member.length + ' Votes'%></span>
                  </div>
                <% } %>
                <form method='POST' action='/votings/delete/<%= voteMap._id %>?_method=DELETE'>
                  <div class='button-center'>
                    <input type = 'submit' class='delete-button' value = '지우기'/>
                  </div>
                </form>
              <% } %>
            </ul>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
