<!DOCTYPE html>
<html>

<head>
  <title>Voting Platform</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/voting.css" />
</head>

<body>
  <%- include("partials/header", {user}) %>
    <main>
      <div>
        <p class="title">
          <%= vote.title %>
        </p>
        <ul>
          <li class="author">
            Created by <%= vote.author.nickname %>
          </li>
          <li class="expiration_date">
            expired at <%= vote.expirationDate %>
          </li>
          <li class="status">
            <%= vote.status %>
          </li>
        </ul>
        <% if(vote.status === 'terminated' || isAuthor) { %>
          <div class="chart-container" data-server-options="<%= JSON.stringify(vote.options) %>">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
          <% } else { %>
            <% if(isVoted) { %>
              Already Voted
            <% } else { %>
              <form method="POST" action="<%= `/votings/${vote._id}` %>">
                <% vote.options.forEach(option=> { %>
                  <div>
                    <input type="radio" id="<%= option %>" name="<%= option %>" value="<%= option %>">
                    <label for="<%= option %>">
                      <%= option%>
                    </label>
                  </div>
                  <% }); %>
                    <button class="button" type="submit">SUBMIT</button>
              </form>
            <% } %>
        <% } %>
      </div>

      <% if (isAuthor) { %>
        <form method="DELETE" action="<%= `/votings/${vote._id}` %>">
          <button class="button" type="submit">DELETE</button>
        </form>
        <% } %>
    </main>
    <script src="/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/javascripts/votingChart.js"></script>
  </body>

</html>
