<!DOCTYPE html>
<html>
  <head>
    <title>Create a new voting</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/votings_new.css' />
  </head>
  <body>
    <%- include('header') %>
    <div id='main_container'>
      <h3>Create a new voting</h3>
      <div id='form_container'>
        <form onsubmit='return formValidator()' method='POST' action=<%=`/votings/new`%>>
          <!-- <form method='POST' action=<%=`/votings/new`%>> -->
            <div id='title_container'>
              <div>
                Title
              </div>
              <div>
                <input type='text' name='title' placeholder='Type your title for voting' required>
              </div>
            </div>
            
            <div id='choice_container'>
              Choices
              <button class='primary_button' type='button' onclick=handleAddClick(event)>
                Add a choice
              </button>
              <div id='choice_list'>
                <input class='choice_inputs' type='text' name='choices' placeholder='Type your first choice here' required><br/>
                <input class='choice_inputs' type='text' name='choices' placeholder='Type your second choice here' required><br/>
              </div>
            </div>
      
            <div id='end_date_container'>
              <div>
                End date
              </div>
              <div>
                <input id='end_time' type='datetime-local' name='endTime' required/>
                <span>Time zone : GMT</span>
                <select id='end_time_tzOffset' name='tzOffsetMinutes'>
                  <% timezones.map(timezone => { %>
                    <option
                      value=<%= timezone.offsetMinutes %>
                      <% if (Number(timezone.offsetMinutes === user.tzOffsetMinutes)) { %>
                        <%= 'selected' %>
                      <% } %>
                    >
                      <%= timezone.display %>
                    </option>
                  <% }) %>
                </select>
              </div>
              <div>
                <span id='end_time_alert_text'></span>
              </div>
            </div>
            <div id='submit_button_container'>
              <button class='primary_button' type='submit'>SUBMIT</button>
            </div>
          </form>
      </div>
      
    </div>

    <script src='/javascripts/utils.js'></script>
    <script>
      function handleAddClick(event) {
        let div = document.createElement('div');
        let el = document.createElement('input');
        el.setAttribute('type', 'text');
        el.setAttribute('name', 'choices');
        el.setAttribute('required', 'true');
        el.setAttribute('class', 'choice_inputs');
        el.setAttribute('placeholder', 'Type your extra choices here');

        let button = document.createElement('button');
        button.setAttribute('onclick', 'handleRemoveClick(event)');
        button.setAttribute('type', 'button');
        button.setAttribute('class', 'secondary_button');
        button.innerText = 'REMOVE';

        div.appendChild(el);
        div.appendChild(button);
        document.getElementById('choice_list').appendChild(div);
        return;
      }

      function handleRemoveClick(event){
        event.target.parentNode.parentNode.removeChild(event.target.parentNode);
      }

      function formValidator() {
        const choices = document.getElementById('choice_list').children;

        const end_time = document.getElementById('end_time').value;
        const tzOffset = document.getElementById('end_time_tzOffset').value;
        const gmtIso = getGmtFromDatetimeLocal(end_time, tzOffset);
        if (choices.length > 2 && (new Date() < new Date(gmtIso))) {
          return true;
        } else {
          document.getElementById('end_time').setAttribute('class', 'invalid_end_date_input');
          document.getElementById('end_time_alert_text').innerText = 'Please input end date later than now';
          return false;
        }; 
      }
    </script>
  </body>
</html>
