<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/votings.css" />
  <title>votings</title>
</head>
<body>
  <% if (isOnVote === "true") { %>
    <div class="onVote-wrapper">
      <form name="<%= votingId %>" class="outer-form">
        <div class="title">
          제목: <%= title %>
        </div>
        <div class="creator">
          생성자: <%= creator %>
        </div>
        <div class="endDate">
          만료날짜: <%= endDate %>
        </div>
        <div class="vote-status">
          투표 진행중 ⭕️
        </div>
        <div class="checkBox-wrapper">
          투표목록
          <% for (let i = 0; i < option.length; i++) { %>
            <div class="radio-box">
              <label for="option"><%= option[i].optionTitle %></label>
              <input
                type="radio"
                id="option"
                name="option"
                value="<%= option[i].optionTitle %>"
                class="radio"
              />
              <% if (isValidateUser) { %>
                <span>
                  <%= option[i].votedUsers.length %>
                </span>
              <% } %>
            </div class="radio-box">
          <% } %>
        </div>
        <button type="submit" class="submit-btn">투표하기</button>
        <button class="home-btn">투표목록</button>
        <% if (isValidateUser) { %>
          <div>
            <button class="delete-btn">삭제</button>
          </div>
        <% } %>
      </form>
    </div>
  <% } else { %>
    <div class="endVote-wrapper">
      <div>end</div>
    </div>
  <% } %>
  <Script src="/javascripts/votings.js"></Script>
</body>
</html>
