<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <%- include("partials/title") %>
  <%- include("partials/menu") %>
  <span><%=voting.title%></span>
  <span><%=voting.due_date%></span>
  <span><%=voting.due_time%></span>
  <form class="vote-options" id=<%=voting.id%>>
    <ul>
      <% for (let i = 0; i < voting.candidates.length; i++) { %>
      <li>
        <input type="radio" name="option" value=<%=voting.candidates[i].name%> />
        <label><%=voting.candidates[i].name%></label>
        <% if (showResult || voting.status ==="CLOSED") { %>
        <span>투표 수 : <%= voting.candidates[i].count %></span>
        <% } %>
      </li>
      <% } %>
    </ul>

    <input type="submit" id=<%=voting.id%> value="Submit" />
  </form>
  <% if (showResult) { %>
  <button class="delete-voting-button" id=<%=voting.id%>>delete</button>
  <% } %>
  <a href="/">Back</a>
</body>
<script src="/javascripts/deleteVote.js"></script>
<script src="/javascripts/updateVote.js"></script>

</html>