<!DOCTYPE html>
<html>

<head>
  <title>Voting Platform</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/voting.css" />
</head>

<body>
  <%- include("partials/header", {user}) %>
    <main>
      <div class="back-button-container">
        <form method="GET" action="/">
          <button class="button" type="submit">BACK TO HOME</button>
        </form>
      </div>
      <div class="contents-container">
        <div class="description-container">
          <h2 class="title">
            <%= vote.title %>
          </h2>
          <ul>
            <li class="author">
              Created by <%= vote.author.nickname %>
            </li>
            <li class="expiration_date">
              expired at <%= vote.expirationDate %>
            </li>
            <li class="status">
              <%= vote.status %>
            </li>
          </ul>
        </div>
        <% if(vote.status === 'terminated' || isAuthor) { %>
          <div class="chart-container" data-server-options="<%= JSON.stringify(vote.options) %>">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
        <% } else { %>
          <% if (isVoted) { %>
            <div class="no-chart-container">
              <% if (isVoteResult) { %>
                <%=isVoteResult %>
              <% } else { %>
                Already Voted
              <% } %>
            </div>
          <% } else { %>
            <form class="vote-form" method="POST" action="<%= `/votings/${vote._id}` %>">
              <% vote.options.forEach(el=> { %>
                <div>
                  <input type="radio" id="<%= el.option %>" name="option" value="<%= el.option %>">
                  <label for="<%= el.option %>">
                    <%= el.option %>
                  </label>
                </div>
              <% }); %>
              <div class="submit-button-container">
                <button class="button" type="submit">SUBMIT</button>
              </div>
            </form>
          <% } %>
        <% } %>
      </div>

      <% if (isAuthor) { %>
        <div class="delete-button-container">
          <button class="button delete-button" type="submit">DELETE</button>
        </div>
      <% } %>
    </main>
    <% if (vote.status === 'terminated' || isAuthor) { %>
      <script src="/Chart.bundle.min.js"></script>
      <script type="text/javascript" src="/javascripts/votingChart.js"></script>
    <% } %>
    <% if (isAuthor && vote.status !== 'terminated') { %>
      <script type="text/javascript" src="/javascripts/votingHandlers.js"></script>
    <% } %>
  </body>

</html>
