extends layout

block content
  section
    h1 Voting
    .voting-container
      .title
        h2=voting.votingTitle
      .voting-details
        .voting-detail= voting.userName
        .voting-detail= voting.expirationDate
        if isCreator
          .delete-button-container
            button.delete-button(
              id=`${id}`
            ) delete
      if voting.isExpiration
        .voting-option-list
          each option in voting.options
            .option-list-item
              .label
                label= option.option
              .input
                input(
                  type='radio'
                  class='option'
                  name='option'
                  value=`${option._id}`
                )
        .voting-submit-button
          button(
            id=`${id}`
            class='votingButton'
          ) 투표
    if !voting.isExpiration || isCreator
      .result-container
        .result
          .title Result
        each option in options
          .result-details
            .detail-option-name= option.option
            .detail-voting-count= option.voters.length
