<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <div class="main-container">
    <% for (let i = 0; i < votes.length; i++) { %>
      creatorId: <%= votes[i].creator %>
      <div class="vote-container">
        <h1 class="vote-title"><%= votes[i].title %></h1>
          <a href="/votings/<%= votes[i]._id %>">
            <% if (!expired[i]) { %>
              <button>투표하기</button>
            <% } else { %>
              <button disabled>투표종료</button>
              <% } %>
          </a>
        <div class="vote-details">
          <p class="vote-createdAt">생성날짜<%= createdDate[i] %></p>
          <p class="vote-expirationDate">만료날짜<%= expirationDate[i] %></p>
        </div>
      </div>
    <% } %>
  </div>
</body>

</html>