extends layouts/layout

block content
  .voting__detail__wrap
    .voting__detail__main
      .voting__detail__main__left
        h1= title
        div
          span 투표기한&nbsp;
          span= expiredDate
            | &nbsp;
          span= expiredTime
        div
          span 생성자&nbsp;
          span= creator
        if (isVotingEnd)
          h2 투표 종료
        else
          h2 투표 진행중
      .voting__detail__main__right
        h1 투표 목록
        .voting__detail__main__list
          each votingList in votingLists
            .voting__detail__main__checkbox__wrap
              input(
                type="radio"
                id=`${votingList._id}`
                name="list"
                data-source-url=`votings/${votingId}`
                class="checkbox").voting__detail__main__checkbox
              label(for=`${votingList._id}`).checkbox__label= votingList.listTitle
        if (isParticipated)
          h4 투표를 완료하셨습니다.
        else
          button.voting__detail__btn__select 투표하기
    .voting__detail__btn__wrap
      a(href="/")
        button.voting__detail__btn__gohome 목록으로 돌아가기
      if (isUserCreator)
        button(data-source-url=`votings/${votingId}`).voting__detail__btn__delete 삭제하기
