extends layout

block content
  include partials/header
  div.vote-container
    h1 투표하세요
    div.message
    div.votes
      div
        div=vote.title
        div=vote.author
        div.expired-at=vote.expiredAt
        div.vote-state
    form.form-submit-vote(action="/votings/"+vote._id method="POST")
      div.form-container
        -vote.options.forEach(option => {
          div
            span.content=option.content
            input(type="radio" name="option" value=option._id data-count=option.count data-content=option.content)
        -})
          button.button-submit-vote(type="submit") 제출
    -if (vote.author === name) {
      form.form-delete-vote(action="/votings/"+vote._id method="POST")
        button.button-delete-vote(type="submit") 삭제
    -}
    div
      a(href="/") ←돌아가기
    -if (vote.author !== name) {
      div.show-chart
        include partials/chart
    -} else {
        include partials/chart
    -}
  script(src="/javascripts/votingState.js")
  script(src="/javascripts/submitVote.js")
  script(src="/javascripts/deleteVote.js")
