<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div>
        <div>title: <%= votingDetailFormat.title %></div>
        <h3>Author: <%= votingDetailFormat.author %></h3>
        <h4>Contact: <%= votingDetailFormat.contact %></h4>
        <form class="option-form">
                <% votingOptionFormat.forEach(function(votingOption) { %>
                  <div>
                    <label for="<%= votingOption.optionId %>"><%= votingOption.optionTitle %></label>
                    <input type='radio' class="option-radio" id="<%= votingOption.optionId %>" name="option" value="<%= votingOption.optionTitle %>">
                    <% if (isAuthor || !votingOptionFormat.isProceeding) { %>
                      <div><%= votingOption.voters.length %> voters</div>
                    <% } %>
                  </div>
                <% }) %>

                <!-- ??????? -->
                <% if (isAuthor) {%>
                  <button class="voting-delete-btn"><p>Delete this Voting</p></button>
                <% } %>
        </form>

        <% if(votingDetailFormat.isProceeding) {%>
          <h3>This voting will expire at <%= votingDetailFormat.expireDate %></h3>
          <button type=submit class='voting-submit-btn' value="Submit"></button>
        <% } else { %>
            <h3>Voting Finished</h3>
              <% if(votingDetailFormat.winner.length) {%>
                <h3>Winner</h3>
                  <% votingOptionFormat.winner.forEach(function(user) { %>
                    <%= user %>
                <% }) %>
              <%} %>
        <% } %>
        <button><a href="/">Go home</a></button>
    </div>
  <script src="/javascripts/updateOption.js"></script>

</body>
</html>