<!DOCTYPE html>
<html>
  <%- include('partial/head') -%>
  <body>
    <%- include('partial/header') -%>
    <%
      const { id, subject, options, creator, created_at, expirated } = vote;
      const lotsOfLength = options.map(opt => opt.voter.length);
      const totalLength = lotsOfLength.reduce((acc, len) => acc + len, 0);
      const maxLength = Math.max.apply(null, lotsOfLength);
      const isExpirated = getIsExpired(expirated);
      let isCreator = false;

      if (user) {
        isCreator = creator.id === user.id;
      }
    %>
    <div class="container">
      <section class="voting-detail">
        <header class="box">
          <h2><%= subject %></h2>
          <ul class="vote-info">
            <li>Creator: <%= creator.username %></li>
            <li>Created at: <%= getYearMonthDay(created_at) %></li>
            <li>Expirated at: <%= getYearMonthDay(expirated) %></li>
            <li>Total votes: <%= totalLength %></li>
          </ul>
        </header>
        <ul class="chart-area">
          <%
            for (let i = 0; i < options.length; i++) {
              const length = options[i].voter.length;
              let value = 0;
              
              if (length) {
                value = (length / maxLength).toFixed(2) * 100;
              }
          %>
            <li class="<% if (length && length === maxLength) { %> winner <% } %>">
              <h4><%= options[i].value %></h4>
              <div>
                <div class="bar" data-value="<%= value %>"></div>
                <p><strong><%= length %></strong><%= value %>%</p>
              </div>
            </li>
          <% } %>
          </ul>
          <div class="buttons-wrap">
            <% if (isCreator && !isExpirated) { %>
              <a href="/votings/<%= id %>" class="button">투표로 돌아가기</a>
            <% } %>
            <a href="/" class="button">홈으로</a>
          </div>
      </section>
    </div>
    <%- include('partial/scripts') -%>
  </body>
</html>
