mixin voting_card(voting = {})
  - const isExpried = voting.expired_at.getTime() < new Date().getTime();
  
  div(class='w-full lg:w-1/2 lg:px-4')
    a(
      class=`block bg-white border-t-4 rounded-t mb-4 shadow-lg rounded-b-lg px-6 py-4 ${isExpried ? 'border-red-500' : 'border-green-500'}`
      href=`/votings/${voting._id}`
    )
      div(class='flex justify-between items-center')
        span(class='font-light text-gray-600') #{voting.expired_at.toLocaleString()}
        button(
          class='bg-white text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow'
          type='button'
        ) #{isExpried ? 'OFF' : 'ON'}
      div(class='mt-2')
        p(class='text-2xl text-gray-700 font-bold hover:text-gray-600') #{voting.title}
