extends layouts/main

block content
  h1 #{pageTitle}
  .content-container
    form.submit-form(
      action=`/auth/login?${nextPage.key}=${nextPage.value}`
      method="POST"
    )
      input(type="email" placeholder="email" name="email" required=true)
      input(type="password" placeholder="password" name="password" required=true)
      .button-row
        button.content-button.submit-button Login
        a.signup-link(href="/auth/signup")
          button.content-button.signup-button(type="button") Signup
    .warning-box #{errorMessage}

  script(src="/javascripts/common/submitHandler.js")
