extends layouts/main

block content
  h1 #{pageTitle}
  .signup-container
    form.signup-form(action="./signup" method="POST")
      input.username(type="text" placeholder="userName" name="username" required=true)
      input.email(type="email" placeholder="email" name="email" required=true)
      input.password1(type="password" placeholder="password1" name="password1" required=true)
      input.password2(type="password" placeholder="password2" name="password2" required=true)
      .warning-box
      button.signup-button Signup

  script(src="/javascripts/postSignup.validation.js")
