mixin votingCard(voting={})
	a(href="/votings/" + voting.id).votingCard
		.voting-name-container
			h1.voting-name=voting.name
		.voting-status-container
			.voting-status=voting.status
		.voting-metadata-container
			.voting-createdBy-container
				span 작성자 &nbsp;
				span.voting-createdBy=voting.createdBy
			.voting-createdAt-container
				span 등록일 &nbsp;
				span.voting-createdAt=voting.createdAt
		.voting-timeline-container
			span.voting-startDate=voting.startDate
			span &nbsp;~&nbsp;
			span.voting-endDate=voting.endDate
