include svgs
mixin sidebar(page)
  .sidebar
    a.logo-expand(href='/') Vote
    .side-wrapper
      .side-title MENU
      .side-menu
        a.sidebar-link.discover(href='/' class=`${page === 'index' ? 'is-active' : ''}`)
          +svgs('discover')
          | Discover
    .side-wrapper
      if (user)
        .side-title PERSONAL
        .side-menu
          a.sidebar-link(href='/myvotes' class=`${page === 'myvote' ? 'is-active' : ''}`)
            +svgs('myvotes')
            | My Votes
          a.sidebar-link(href='/vote/new' class=`${page === 'newvote' ? 'is-active' : ''}`)
            +svgs('newvote')
            | New Vote
          form.delete-form(action='/auth/logout?_method=DELETE' method='POST')
            +svgs('logout')
            button.delete-button(type='submit') Logout
      else
        .side-title AUTH
        .side-menu
          a.sidebar-link(href='/auth/login' class=`${page === 'login' ? 'is-active' : ''}`)
            +svgs('login')
            | Log In
          a.sidebar-link(href='/auth/signup' class=`${page === 'signup' ? 'is-active' : ''}`)
            +svgs('signup')
            | Sign Up
          a.sidebar-link(href='/auth/github')
            +svgs('githubLogin')
            | Github Login
