mixin voteCard(vote = {})
  .voteCard.card(id=vote._id)
    .voteCard__header.card-header
      img.voteCard__headImage(src=vote.thumbnailURL alt="image")
    .voteCard__body.card-body
      .voteCard__title.card-title=(vote.title)
      .voteCard__dates
        .voteCard__createAt=(vote.createAt)
        .voteCard__dueDate=(`~ ${vote.dueDate}`)
