mixin voteList(vote)
  .vote
    .vote-status #{vote.isVotable ? 'vote now' : 'finished'}
    .vote-wrapper
      a(href=`/vote/${vote._id}`)
        img(src=`${vote.imgUrl}`)
      if (vote.creatorImgUrl)
        .creator-img__wrapper.vote-creator
          svg.feather.feather-check(viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
            path(d='M20 6L9 17l-5-5')
          img.creator-img(src=`${vote.creatorImgUrl}`)
    .vote-by #{vote.creatorName}
    .vote-name #{vote.title}
    .vote-view
      | 220 votes
      span.seperate.vote-seperate
      | Until #{vote.expiredAt}
