<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="ref"><%=voting._id%></div>
    <h1>Voting :ID</h1>

    <ul>
      <li><%=voting.title%></li>
      <li><%=voting.creator%></li>
      <li><%=voting.expireDate%></li>
      <li><%=voting.isExpired%></li>
    </ul>

    <% if (!voting.isExpired) {%>
    <h3>고르시오</h3>
    <form class="vote">
      <% for (let i = 0; i < voting.selectOptions.length; i++) {%>
      <label for="selectOption"><%=voting.selectOptions[i].option%></label>
      <input
        type="radio"
        name="selectOption"
        value="<%=voting.selectOptions[i]._id%>"
      />
      <%}%>
      <button type="submit">submit</button>
    </form>
    <%}%> <% if (voting.isExpired || isCreator) {%>
    <h3>결과</h3>
    <h5><%=result[0]%></h5>
    <h5><%=result[1]%></h5>
    <%}%>
    <button><a href="/">목록으로 돌아가기</a></button>
    <button>결과보기</button>
    <script src="/javascripts/clickVoteButton.js"></script>
  </body>
</html>
