<h2><%= title %></h2>
<ul class="vote-list">
  <%
    for (let i = 0; i < votes.length; i++) {
      const { subject, expirated, creator, created_at } = votes[i];
      const currentTime = new Date().getTime();
      const expiratedTime = new Date(expirated).getTime();
      const isExpirated = expiratedTime - currentTime < 0;
  %>
    <li class="box">
      <h3>
        <% if (isExpirated) { %>
          <a href="/votings/<%= votes[i].id %>/result"><%= subject %></a>
        <% } else { %>
          <a href="/votings/<%= votes[i].id %>"><%= subject %></a>
        <% } %>
      </h3>
      <ul class="vote-info">
        <li>Creator: <%= creator.username %></li>
        <li>Created at: <%= getYearMonthDay(created_at) %></li>
        <li>Expirated at: <%= getYearMonthDay(expirated) %></li>
      </ul>
      <li></li>
    </li>
  <% } %>
</ul>
