<h2><%= title %></h2>
<ul class="vote-list">
  <%
    for (let i = 0; i < votes.length; i++) {
      const { subject, expirated, creator } = votes[i];
      const currentTime = new Date().getTime();
      const expiratedTime = new Date(expirated).getTime();
      const isExpirated = expiratedTime - currentTime < 0;
  %>
    <li class="box">
      <h3>
        <% if (isExpirated) { %>
          <a href="/votings/<%= votes[i].id %>/result"><%= subject %></a>
        <% } else { %>
          <a href="/votings/<%= votes[i].id %>"><%= subject %></a>
        <% } %>
      </h3>
      <div class="vote-info">
        생성자, 만료 날짜 및 시간, 진행 중 여부, 투표 선택 사항
      </div>
    </li>
  <% } %>
</ul>