extends ../layout.pug

block content
  form(action="/votings/new", method="post")
    - const today = moment().format('yyyy-MM-DDTHH:mm:ss')
    div
      label 등록자 이름:
        input(type="text" name="founder" readOnly value=user.id)
    div
      label 제목:
        input(type="text" name="title" value="제목이다")
    div
      label 투표 설명:
        input(type="text" name="description" value="설명이다")
    div.optionsContainer
      label 옵션:
      span.addOptionBtn +
      input(type="text" name="options" value="옵션1")
      input(type="text" name="options" value="옵션2")
    div
      label 공개여부:
        select#votingSelect(name="inProgress")
          option(value="false" selected) 비공개
          option(value="true") 공개
    div
      label 투표기간:
        input(
          type="datetime-local"
          name="dueDate"
          value=today
          min=today
        )
    button.submitBtn SUBMIT
  script(src="/javascripts/votingForm.js")
