extends ../layout.pug

block stylesheet
  link(rel="stylesheet", href="/stylesheets/votingItem.css")

block content
  script(src="/javascripts/votingItem.js")
  -
    const {
      id,
      title,
      description,
      dueDate,
      isInProgress,
      founder,
      createdAt,
      options,
      participants,
    } = data;
  .votingItem.flexColumn.centered
    - if (isInProgress)
      span.inProgress [투표진행중]
    - else
      span.notInProgress [투표종료]
      span.expiredMessage 종료된 투표는 참여할 수 없습니다.
    .votingItemTitle #{title}
    div
      span.founder 투표진행자 #{founder}
      span.createdAt #{createdAt}
    span.dueDate 참여가능 시간 #{dueDate}
    .description #{description}
    .votingItemBottom
      - if (isInProgress) // 진행중
        - if (user) // 로그인상태
          each option in options
            - if (participants.includes(user.id)) // 투표 했음
              .options
                .selectedOption #{option.opt}
            - else // 투표 안했음
                div(
                  class="options"
                  data-id=option.id
                  onclick=`sendAjax("/votings/update/${id}", "${option.id}")`
                ) #{option.opt}
            - if (founder.toString() === user.id.toString()) // 생성자
                .likes #{option.likes.length}
        - else // 로그아웃
          each option in options
            .options
              //- a(href="/auth/login") #{option.opt}
              a(href=`/auth/login/${id}`) #{option.opt}
      - else // 완료
        each option in options
          .options
            div #{option.opt}
            .likes #{option.likes.length}
    .votingItemFooter.flexRow
      - if (user && founder.toString() === user.id.toString())
        button
          a(href=`/votings/delete/${id}`) 삭제
      button
        a(href="javascript:window.history.back();") 목록으로 돌아가기
