extends ../layout.pug

block content
  -const { title, description, dueDate, inProgress, founder, createdAt } = data;
  div.votingItem
    span #{inProgress}
    div.votingItemTitle #{title}
    span #{createdAt}
    span #{dueDate}
    div.votingItemBottom
      div.description #{description}
      div.options options
