extends ../layout.pug

block stylesheet
  link(rel="stylesheet", href="/stylesheets/votingItem.css")

block content
  script(src="/javascripts/votingItem.js")
  -
    const {
      id,
      title,
      description,
      dueDate,
      inProgress,
      founder,
      createdAt,
      options,
    } = data;
  div.votingItem.flexColumn.centered
    -if (inProgress)
      span.inProgress [투표진행중]
    -else
      span.notInProgress [투표종료]
    div.votingItemTop
      div.votingItemTitle #{title}
      span.votingItemFounder 투표진행자 #{user.username}
    span.createdAt #{createdAt}
    div.dueDate #{dueDate}
    div.description #{description}
    .votingItemBottom
      -if (inProgress && !options.participants.includes(user.id))
        each option in options
          -if (option.likes.includes(user.id))
            div.options.selectedOption #{option.opt}
            -if (founder.toString() === user.id.toString())
              div.likes #{option.likes.length}
          -else
            div(
              class="options"
              data-id=option.id
              onclick=`sendAjax("/votings/update/${id}", "${option.id}")`
            ) #{option.opt}
            -if (founder.toString() === user.id.toString())
              div.likes #{option.likes.length}
      -else
        each option in options
          div.options #{option.opt}
            div.likes #{option.likes.length}
    .votingItemFooter.flexRow
      -if (founder.toString() === user.id.toString())
        div.buttons
          a(href=`/votings/delete/${id}`) 삭제
      div.buttons
        a(href="javascript:window.history.back();") 목록으로 돌아가기
