extends ../layout.pug

block stylesheet
  link(rel="stylesheet", href="/stylesheets/votingItem.css")

block content
  script(src="/javascripts/votingItem.js")
  -
    const {
      id,
      title,
      description,
      dueDate,
      isInProgress,
      createdAt,
      options,
      participants,
    } = data;
  .votingItem
    - if (isInProgress)
      span.inProgress [투표진행중]
    - else
      span.notInProgress [투표종료]
      span.expiredMessage 종료된 투표는 참여할 수 없습니다.
    .votingItemTitle #{title}
    div
      span.founder 투표진행자 #{votingFounder}
      span.createdAt 투표생성일 #{moment(createdAt).format('yy년 MM월 DD일 HH시 mm분')}
    span.dueDate 투표만료시간 #{moment(dueDate).format('yy년 MM월 DD일 HH시 mm분')}
    .description #{description}
    .votingItemBottom
      - if (isInProgress) // 진행중
        - if (user) // 로그인상태
          - const isFounder = votingFounder.toString() === user.id.toString();
          each option in options
            - if (participants.includes(user.id)) // 투표 했음
              .options
                .selectedOption #{option.opt}
            - else // 투표 안했음
                div(
                  class="options"
                  data-id=option.id
                  onclick=`sendAjax("/votings/update/${id}", "${option.id}")`
                ) #{option.opt}
            - if (isFounder) // 생성자
                .likes #{option.likes.length}
        - else // 로그아웃
          each option in options
            a(href=`/auth/login/${id}`)
              .options #{option.opt}
      - else // 완료
        each option in options
          .options
            div #{option.opt}
            .likes #{option.likes.length}
    .votingItemFooter
      - if (user && isFounder)
        button
          a(href=`/votings/delete/${id}`) 삭제
      button
        a(href="javascript:window.history.back();") 목록으로 돌아가기
