<div class="index">
  <ul class="votes grid">
    <% for (const vote of votes) { %>
      <a href="votings/<%= vote._id %>">
        <li class="vote-item">
          <span class="vote-name"> <%= vote.title %> </span>

          <span class="vote-country grid-only"> <%= vote.creatorName %></span>

          <div class="pull-right">
            <span class="vote-progress">
              <span class="vote-progress-bg">
                <span class="vote-progress-fg" style="width: 88%"></span>
              </span>

              <span class="vote-progress-labels">
                <span class="vote-progress-label"> 88% </span>

                <span class="vote-completes"> <%= vote.entire_count %></span>
              </span>
            </span>

            <span class="vote-end-date
              <% if (!vote.is_progress) { %>
                ended
              <% } %>
              "> <%= new Date(vote.expire_datetime).toLocaleString() %></span>
            <span class="vote-stage">
              <% if (vote.is_progress) { %>
                <span class="stage live">Live</span>
              <% } else { %>
                <span class="stage ended">Ended</span>
              <% } %>
            </span>
          </div>
        </li>
      </a>
    <% } %>
  </ul>
</div>
