extends ./layout.pug

block stylesheet
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  section.voting-list
    h2 투표목록
    div.voting-container
      - for (let i = 0; i < voting.length; i++)
        - const { title, _id, result, ended_at } = voting[i]
        - const path = `/votings/${_id}`
        div.item
          a(href=path) #{title}
          div #{result}
          div #{ended_at}
    div.btn-container
      a(href="/votings/new") Create Voting
      a(href="/my-votings") My Voting
