extends ./layout.pug

block stylesheet
  link(rel="stylesheet", href="/stylesheets/my-voting.css")

block content
  section.voting-list
    h2 나의 투표
    div.voting-container
      - for (let i = 0; i < voting.length; i++)
        - const { title, _id, result, ended_at, closed } = voting[i]
        - const {month, date, hour, minute} = getLocalTime(ended_at)
        - const path = `/votings/${_id}`
        - let votingResult = closed ? result : "투표 중"
        div.item
          a(href=path) #{title}
          div #{votingResult}
          div "#{month}월 #{date}일 #{hour}시 #{minute}분" 까지
