extends ./layout.pug

block stylesheet
  link(rel='stylesheet', href='/stylesheets/voting-detail.css')

block content
  - const progress = votingInfo.closed ? `${votingInfo.result} : )` : "투표 중..."
  - const { title, author} = votingInfo
  - const { startedAt, endedAt } = votingInfo
  - const { votingItems } = votingInfo
  section.detail
    h2 #{title}
    div.container
      div.status
        div.progress #{progress}
        div.time
          div
            | 시작 시간
            |  #{startedAt.month}월 #{startedAt.date}일
            |  #{startedAt.hour}시 #{startedAt.minute}분
          div
            | 종료 시간
            |  #{endedAt.month}월 #{endedAt.date}일
            |  #{endedAt.hour}시 #{endedAt.minute}분
      div.author 작성자 #{author.name}
      div.item-container
        - for (let i = 0; i < votingItems.length; i++)
          - const {item, count} = votingItems[i]
            div.item(data-voting-id=votingInfo._id, data-option-id=votingItems[i]._id) #{item} #{count}
    div.button
      a(href="/") 돌아가기
      if isAuthor
        a(href="/") 삭제
  script(src="/javascripts/votingDetail.js")
